[2018-07-17 12:46] OlegRa opened #1 "Create sample application for SDK"
It would be nice to have small tutorial for creating new simple application from scratch using this SDK.

[2018-07-17 12:48] OlegRa opened #2 "Replace 'Get' method prefixes with 'List'"
One thing I might change is the verb 'Get' for plural resources such as positions. In my opinion the REST convention is to use the verb 'List' for those, unless there is strong reason.

[2018-07-17 12:49] OlegRa opened #3 "Add Readme.md file for repository"
Also, I'd like to see a README.md style doc somewhere in the repo (if I am not missing it). This document can contains small tutorial from #1 issue.

[2018-07-17 15:11] OlegRa opened #5 "Add XML-documentation for all public classes/interfaces"
We need XML documentation for all SDK public interface - it will help users to explore API from VisualStudio UI using tool tips and IDE suggestions.

[2018-07-17 15:13] OlegRa opened #6 "Prepare NuGet package for SDK"
NuGet is default way for packaging .NET libraries in both .NET Framework and .NET Core so it would be very helpful to publish SDK on NuGet servers.

[2018-07-17 20:34] OlegRa commented on #6
NuGet package - https://www.nuget.org/packages/Alpaca.Markets/1.0.0-alpha
GitHub release - https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v1.0.0-alpha

[2018-07-17 20:34] #6 closed

[2018-07-17 20:36] OlegRa opened #7 "Create CI/CD build for NuGet packages"
Automate build process - test, pack, sign (optional), publish on NuGet and GitHub

[2018-07-25 12:37] OlegRa commented on #3
Initial version completed and committed.

[2018-07-25 12:37] #3 closed

[2018-07-25 12:37] OlegRa commented on #1
README.md file contains example of simple .NET Core application created from scratch.

[2018-07-25 12:37] #1 closed

[2018-08-01 15:07] umitanuki commented on #7
We can set up CircleCI under alpacahq

[2018-08-01 15:40] OlegRa opened #8 "Unify/simplify interfaces"
Instead of providing specific interface for each type of response/update merge similar interfaces into single one for better client experience.

[2018-08-01 16:18] OlegRa commented on #5
Done in first 'stable' release.

[2018-08-01 16:18] #5 closed

[2018-08-01 19:01] umitanuki opened #9 "Support config file for API key settings"
API base URL would be the same for 99% with api.alpaca.markets so it does not make much sense to give it as a parameter. Also, I would rather want to have config file to feed API key than giving it as parameters.

[2018-08-20 23:21] smartchris84 opened #12 "Some issues with polygon integration"
When I call RestClient.ListHistoricalQuotesAsync('AAPL', new DateTime(2018,8,5)), there is an unhandled exception.

I digged into this, and found 2018-8-5 is Sunday and the polygon api returns null for the 'ticks'.

Is there any way to return null instead of exception in situations like this?

Also in the RestClient.ListDayAggregatesAsync/ListMinuteAggregatesAsync, an unhandled exception(HTTPStatu

[2018-08-21 14:23] #12 closed, assigned to OlegRa

[2018-08-27 14:18] smartchris84 opened #14 "A problem with SockClient, no updates from the websocket"
I've tried to use sockclient to get trade updates from the websocket.

So far, the sockclient is able to get 'Authorized' message from the server but it never receives any trade-related messages whenever a market order is issued.

I tried other Python API(alpaca-trade-api-python) and it worked well using the same API key.

Please help me.

Thanks.

P.S. The SockClient returns error in Netframework

[2018-08-27 22:34] umitanuki opened #15 "401 unauthorized on ListDay/MinuteAggregatesAsync()"
I am getting 401 error from `ListDayAggregatesAsync()` using my production key. I have verified this key works in python client. As far as I can tell, `getDefaultPolygonApiQueryBuilder()` is unconditionally setting staging=true

[2018-08-29 13:43] OlegRa commented on #15
Problem solved (at least on my PC) in version [1.2.0-alpha](https://www.nuget.org/packages/Alpaca.Markets/1.2.0-alpha) - please, test it and re-open if problem still reproduced. Don't forget - you have to get this version manually because NuGet never update packages to pre-release versions by default.

[2018-08-29 13:43] #15 closed

[2018-08-29 13:43] OlegRa commented on #14
Problem solved (at least on my PC) in version [1.2.0-alpha](https://www.nuget.org/packages/Alpaca.Markets/1.2.0-alpha) - please, test it and re-open if problem still reproduced. Don't forget - you have to get this version manually because NuGet never update packages to pre-release versions by default.

[2018-08-29 13:43] #14 closed

[2018-09-14 12:26] OlegRa opened #18 "Add static analysis into source code"
Add headers for allowing free version of PVS Studio (see details [here](https://www.viva64.com/en/b/0457/)) to statically analyze source code.

[2018-09-14 17:08] OlegRa opened #21 "Implement Alpaca REST API throttling"
According to Alpaca REST API documentation it returns HTTP status code 429 in case of number of request per minute it greater than 200. Throttling should be implemented for all request and retry logic should be added for all GET requests.

[2018-09-14 17:12] OlegRa commented on #21
Feature implemented in version [1.2.0-beta](https://www.nuget.org/packages/Alpaca.Markets/1.2.0-beta) - please, test it and re-open if problem still reproduced. Don't forget - you have to get this version manually because NuGet never update packages to pre-release versions by default.

[2018-09-14 17:12] #21 closed

[2018-10-30 18:06] umitanuki opened #22 "Remove deprecated API"
Fundamentals, Bars and Quotes are deprecated.

[2018-10-31 14:07] OlegRa commented on #22
@umitanuki It's a breaking change and I prefer to do it as single big task with issue #8 and release new package version 2.0.0-alpha with all changes. As intermediate step we can mark all related interfaces with Obsolete attribute and create 1.2.1 release before start real interfaces removal in version 2.0.0 - it will provide early notice for clients.

[2018-11-01 09:33] OlegRa commented on #22
Done in [2.0.0-alpha](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v2.0.0-alpha) release.

[2018-11-01 09:33] #22 closed

[2018-11-01 09:34] OlegRa commented on #8
Partially completed in [2.0.0-alpha](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v2.0.0-alpha) release.

[2018-11-01 10:03] OlegRa opened #23 "Prepare C#/.NET based step-by-step tutorial"
Use this great [Python](https://docs.alpaca.markets/getting-started/sample-algo/) tutorial as base point and prepare .NET Core based version using C# and latest version of SDK.

[2018-11-01 10:04] OlegRa opened #24 "Review QuantConnect integration fixes"
Review fixed made in scope of [QuantConnect/Lean](https://github.com/QuantConnect/Lean/pull/2640) integration task and back-port all critical changes into this SDK mainline.

[2018-11-01 13:45] codebeaulieu opened #25 "Minor typo in IFundamental"
**DividentsRate** should be **DividendsRate**

https://github.com/alpacahq/alpaca-trade-api-csharp/blob/a3476d527c8b9c69b8338ce277a643e0d62411a1/Alpaca.Markets/Interfaces/IFundamental.cs

[2018-11-01 16:04] OlegRa commented on #25
@codebeaulieu Thank you for pointing this. You can fix suggest PR for this simple fix, I will review/merge it and prepare service release but be aware that we will remove this interface and related methods in version 2.0.0 of our SDK. See issue #22 (already closed) for more details.

[2018-11-02 04:17] umitanuki commented on #25
Actually, Dividends and Fundamentals were initially part of API, but at the moment they are not. We should remove related API in this library for now.

[2018-11-02 11:52] OlegRa commented on #25
Pull request merged and new service release version [1.2.1](https://www.nuget.org/packages/Alpaca.Markets/1.2.1) pushed into NuGet.

[2018-11-02 11:52] #25 closed

[2018-11-02 13:53] OlegRa opened #27 "Make WebSocket client pluggable"
Now SDK uses WebSocket4Net library for implementing WebSocket connection. .NET Framework itself contains WebSocket  client but it works only on Windows 8 and later. There are some alternative WebSocket client implementations available on NuGet which can conflict with our default choice (see QuantConnect/Lean case). Idea of this change is to abstract concrete WebSocket client and provide default im

[2018-11-02 15:21] OlegRa commented on #24
WebSocket client replacement part opened as separate issue #27

[2018-11-02 15:21] #24 closed

[2018-11-02 19:58] umitanuki commented on #25
And the interface is going to be removed?

[2018-11-03 09:08] OlegRa commented on #25
@umitanuki Yes. It's already removed in version 2.0.0

[2018-11-05 23:59] codebeaulieu opened #28 "ListMinuteAggregatesAsync never returns a value"
`ListMinuteAggregatesAsync` Does not function as expected.

**What I'm trying:**

`var test = await client.ListMinuteAggregatesAsync("AAPL", limit:100);`

**What I expect to happen:**

I expect that the last 100 minutes from AAPL's most recent session is returned to me.

**What actually happens:**

I receive an exception stating that the TimeSpan overflowed because the duration is too long.

**Cra

[2018-11-06 00:02] codebeaulieu commented on #28
I should add that `ListDayAggregatesAsync` returns values as I'd expect.

[2018-11-06 08:44] OlegRa commented on #28
@codebeaulieu Unable to reproduce it locally using .NET Framework 4.5 as hosting for running test. Which framework do you use on your build environment?

[2018-11-06 09:15] OlegRa commented on #28
@codebeaulieu Reproduced. Will try to fix it ASAP.

[2018-11-06 11:43] OlegRa commented on #28
@codebeaulieu Please test using [2.0.0-beta](https://www.nuget.org/packages/Alpaca.Markets/2.0.0-beta) release from NuGet.

[2018-11-06 11:47] OlegRa opened #30 "NATS client problems"
There are several NATS client problems in current solution:

 1. We unable to use NATS client assembly from .NET Framework 4.5 applications because NuGet package contains unsigned binaries. We can make our version unsigned too or try to obtain signed version of NATS client (open issue in related repository).
 2. Unable to load some NATS client dependency from .NET Core 1.0 application - need more

[2018-11-06 13:20] codebeaulieu commented on #28
Thanks, @OlegRa! The issue is resolved.

[2018-11-06 13:20] #28 closed

[2018-11-06 18:05] OlegRa commented on #30
Not critical for most users, will be included in official 2.0.0 release

[2018-11-06 18:05] #30 closed

[2018-11-13 06:05] codebeaulieu opened #31 "TimeInForce missing IOC and FOK options"
According to the documentation our TimeInForce options are day, gtc, opg, ioc, and fok.

https://docs.alpaca.markets/broker-functions/orders/#time-in-force

However, the SDK only offers Dat, Gtc, and Opg.

Running Alpaca.Markets 2.0.0-beta

[2018-11-15 12:45] codebeaulieu opened #32 "Typo in OrderStatus enum"
Found `Alpaca.Markets.OrderStatus.PendingMew` for PendingNew.

[2018-11-15 14:01] codebeaulieu opened #33 "FillPrice returns null value from ListOrdersAsync"
I've noticed that FillPrice is always null from `ListOrdersAsync` in 2.0.0-beta

<img width="462" alt="screen_shot_2018-11-14_at_6_13_37_am" src="https://user-images.githubusercontent.com/9411281/48557537-aaa8ac80-e8ac-11e8-8b9d-97f32f1daceb.png">

[2018-11-20 00:13] OlegRa commented on #31
Fix available in both [2.0.0](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v2.0.0) and [1.2.3](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v1.2.3) releases.

[2018-11-20 00:13] #31 closed

[2018-11-20 00:13] OlegRa commented on #32
Fix available in both [2.0.0](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v2.0.0) and [1.2.3](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v1.2.3) releases.

[2018-11-20 00:13] #32 closed

[2018-11-20 00:14] OlegRa commented on #33
Fix available for testing in both [2.0.0](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v2.0.0) and [1.2.3](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v1.2.3) releases.

[2018-11-20 14:01] OlegRa commented on #33
@codebeaulieu - Please, test and close if problem solved.

[2018-12-20 13:13] codebeaulieu opened #37 "NATS.Client.NATSConnectionException: 'Authorization Violation'"
I'm attempting to set up a NatsClient using the following code:
[code]
I've tried passing in both my paper API key and my Live api key but both yeild the same error:

`NATS.Client.NATSConnectionException:  'Authorization Violation'`

Unfortunately this isn't a lot of information to go on, but I'm assuming there are more steps here that I'm likely missing.

What are the steps to properly setting up

[2018-12-20 19:03] umitanuki commented on #37
Pass "false" to the second parameter to NatsClient

[2018-12-23 05:34] umitanuki opened #38 "Change "d" reference to "t" for minute agg"
Please refer to https://github.com/alpacahq/alpaca-trade-api-python/pull/49

[2018-12-23 05:34] umitanuki commented on #38
https://github.com/alpacahq/alpaca-trade-api-csharp/blob/master/Alpaca.Markets/Messages/JsonMinuteAgg.cs#L24

[2018-12-23 07:43] OlegRa commented on #38
@umitanuki I have some questions:

 1. Do you want to support both fields for now and use 'd' only if 't' is not available or just switch to 't' completely?
 2. Do you need 1.2.4 release with this fix or it's enough to apply proposed changes only in 2.1.0?

[2018-12-23 08:28] OlegRa opened #39 "Fix problem with time zone under Linux"
Time zone names in Windows and Linux/MacOS are not same. For instance `Eastern Standard Time` time zone has `America/New_York` name in Linux. SDK will throw exception and we should prevent it.

[2018-12-23 09:15] #38 closed

[2018-12-23 09:15] #39 closed

[2018-12-24 16:34] codebeaulieu opened #41 "NatsClient AggReceived never fires"
I've recently set up the Nats client in my application and found that `AggReceived` never fires while `TradeReceived` and `QuoteReceived` fire continuoulsy as expected.

Here is a console application that illustrates the problem.
[AlpacaNatsTest.zip](https://github.com/alpacahq/alpaca-trade-api-csharp/files/2707587/AlpacaNatsTest.zip)

And code for good measure:
[code]

Using Alpaca.Markets 2.1.2

[2018-12-24 18:57] codebeaulieu commented on #41
Looks like a serialization issue. I pulled in your NatsClient code and wired it up in my app, receiving the following error on bar received:
[code]

[2018-12-24 22:06] codebeaulieu commented on #41
addressed in PR #42

I spoke with Quinton from Polygon in the community Slack channel. He said the bar stream is a consolidated feed so there are many exchanges. So having a required exchange field does not make sense.

I asked Quintion if I should remove the **Required** attribute or remove the property entirely and he said removing it makes the most sense.

@OlegRa

[2018-12-27 09:05] OlegRa opened #43 "Remove `Exchange` property from `IStreamAgg` interface in next major release"
In scope of issue #41 fixes (see PR #42) we've decided to mark `Exchange` property of `IStreamAgg` interface as obsolete. Property should be removed from interface and related implementation in scope of next major (3.0.0 or 2.2.0) SDK release.

[2018-12-27 15:17] OlegRa commented on #41
@codebeaulieu Will run build and publish new version on NuGet later this evening. Thank you for your support!

[2018-12-29 04:16] codebeaulieu commented on #41
@OlegRa Sorry for the delay. I've updated to the last nuget package and will follow up on Monday when I can adequately test.

[2018-12-30 22:51] DragonMastery opened #44 ".NET Core Usage Example ERROR"
Here is the full code for the .NET test application and it throws this error:

CS1503	Argument 3: cannot convert from 'System.Uri' to 'string'

`using System;

namespace Test
{
    class Program
    {
        static void Main(string[] args)
        {
            Uri Endpoint = new Uri("https://paper-api.alpaca.markets");
            var KeyId = "my_KEY_ID";
            var SecretKey = "my_SECRET_K

[2018-12-31 12:00] OlegRa commented on #44
@DragonMastery Thank you for pointing this issue! We've made changes in unit tests but (as usual ) have forget to update `README.md` file.
You have to pass URLs in string form if you want to use `RestClient` constructor with default values. If you specify URL using `Uri` object instance you have to provide all 3 used URLs and staging environment flag.
So your code will looks like:
[code]
I've upda

[2018-12-31 12:00] #44 closed

[2018-12-31 17:05] DragonMastery commented on #44
I would also recommend adding these two lines, just so the console does not close without the user seeing what happened.
[code]

[2019-01-02 23:39] codebeaulieu commented on #41
looks good @OlegRa

[2019-01-02 23:39] #41 closed

[2019-02-26 17:29] ttt733 opened #45 ""Fill" order status enum not present"
As reported by a user on Slack:

[code]
The enum value here should be fixed.

[2019-02-27 22:19] OlegRa commented on #45
@ttt733 Please, test using latest [2.1.4](https://www.nuget.org/packages/Alpaca.Markets/2.1.4) version of NuGet package and close it if problem was solved.

[2019-03-19 21:09] ttt733 opened #46 "Add example algorithms to solution"
It would be nice to have some example algorithms in this repo that people could clone and run to help them get started. Ideally, there should be example scripts that demonstrate how to use the REST endpoints and how to open streaming connections with Alpaca and Polygon.

[2019-03-21 03:03] ttt733 commented on #7
@OlegRa - can the testing, packing, and publishing be done in a Linux environment? I only had luck building the project on a Windows environment, which CircleCI does not seem to support. Have been looking into other solutions, but figured I would ask.

[2019-03-21 12:32] OlegRa commented on #7
@OlegRa - you can build only .NET Core targets on Linux environment. For building .NET Framework binaries you have to use Windows environment. Try Azure DevOps (former VS Online) - AFAIK free services provides ability to build any VS-based project using latest versions of Visual Studio and SDKs.

[2019-03-21 20:38] ttt733 commented on #7
Right now we're going to try going with Appveyor - free for open source projects and supports NuGet builds, tests etc. on Windows environments.

[2019-03-23 08:22] ryanfalke commented on #23
Sorry, this is not a good tutorial...

[2019-03-24 20:09] scyentyfyc opened #48 "SockClient fails to catch errors when JSON parsing fails."
I ran into a scenario where JSON parsing failed in the SockClient, and the exception crashed my application.  The error was related to the fact that TradeUpdate.Event != OrderStatus, e.g. TradeUpdate.Event will be "fill" instead of "filled".  I believe I've fixed those scenarios in the API v02 PR, but would expect that in the event of such exceptions, that they be caught and reported via the SockC

[2019-03-24 20:18] OlegRa commented on #48
Will check it tomorrow.

[2019-03-24 20:30] OlegRa opened #49 "Find better approach for configuring throttling parameters"
Right now all configuration parameters related to request throttling passed into `RestClient` constructor but in fact they override properties of static throttler object. It's not good from design and end-user perspective.

I have an idea - create `ThrotterFactory` which will create `IThrottler` object using data provided by `IConfiguration` interface or initialized by Setup method call. This chan

[2019-03-24 20:38] OlegRa opened #50 "Update NuGet dependencies"
Update NuGet dependencies for 3.0.0 release using latest stable versions of 3rd party libraries.

[2019-03-25 19:28] OlegRa commented on #48
@scyentyfyc Fixed in `develop` branch, will be included in upcoming 3.0.0-beta release.

[2019-03-25 19:31] #43 closed

[2019-03-26 14:01] #50 closed

[2019-03-26 14:01] OlegRa commented on #49
Current solution has some drawbacks but looks better and can be improved later if needed.

[2019-03-26 14:01] #49 closed

[2019-03-28 02:06] scyentyfyc opened #51 "3.0.0-alpha\beta failing"
The alpha and beta both fail with 404- Not Found when trying to call the Calendar endpoint.  My example failing case is with a date range specified.

`_alpacaRestApi.ListCalendarAsync(startDateInclusive: DateTime.Now.AddYears(-2), endDateInclusive: DateTime.Now.AddDays(-1));
`

This happened to me before, when I tried to embed the version number in the base address, so maybe it is related to that?

[2019-03-28 14:18] OlegRa commented on #51
Can be tested in [3.0.1-beta](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.0.1-beta) release.

[2019-03-28 21:49] OlegRa commented on #48
Can be tested in [3.0.1-beta](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.0.1-beta) release.

[2019-03-29 00:24] scyentyfyc commented on #51
Looks good.  Thanks for the quick fix!

[2019-03-29 00:48] scyentyfyc commented on #48
@OlegRa , I looked at the code, and the NatsClient was fixed up nicely.  However, the subject of this bug was the SockClient (though I see now both were similar).  to be more specific, the following code block get's called by an event, and if the `data.ToObject<JsonTradeUpdate>());` throws an exception, it doesn't get caught / handled / reported.  I know I wasn't nearly this explanatory in the ini

[2019-03-29 08:00] #45 closed

[2019-03-29 10:04] OlegRa commented on #48
@scyentyfyc I think @ttt733 will publish official 3.0.1 release soon so this fix will be included into it.

[2019-03-29 10:04] #48 closed

[2019-03-29 15:49] ttt733 opened #52 "Change calendar open/close times from DateTime to TimeStamp"
I think it would be more correct for the open/close values in a calendar response, e.g.
[code]
to be interpreted as TimeSpans rather than DateTimes, as they are converted to DateTimes using default values for year/month/day, which usually wind up being wrong. We could do that by implementing a custom TimeSpan converter, like this - https://stackoverflow.com/a/52504446. Alternatively, we could leav

[2019-03-30 09:53] OlegRa commented on #52
@ttt733 If you will check [JsonCalendar.OnDeserializeMethod](https://github.com/alpacahq/alpaca-trade-api-csharp/blob/0ba9ea251b90d7bd8118faa914340a494ba1ab0a/Alpaca.Markets/Messages/JsonCalendar.cs#L22) implementation you can see that it tries to convert this time offset values into correct `DateTime` values.
Unfortunately, API returns these date and time values not in UTC time zone but in EST ti

[2019-04-03 09:44] #46 closed

[2019-04-11 18:44] Ronmenator opened #55 "Nuget 3.0.1 Update to Alpaca is not correct"
My application used the Nuget package and this morning I updated it, but the Nuget package for 3.0.1 does not contain some of the API. e.g. Post orders, list orders, GetAccountAsync, etc...

After downloading the source repository and compiling it in my project, those functions now are available.

Don't know if the Nuget got corrupted or something is missing with it.

EDIT:

E.g.

            Clie

[2019-04-11 20:14] OlegRa commented on #55
@ttt733 I've checked binaries available on NuGet and unfortunately they really doesn't contains these (and many other) methods. I'm unable to find information about AppVeyor build - please, add at least build bage into Readme.MD file for quick navigation to last build. And it would be nice if build will add release record into GitHub.

[2019-04-11 20:49] OlegRa commented on #55
@Ronmenator Please, try to use release 3.0.2 - it should contains missed API methods.

[2019-04-11 21:07] Ronmenator commented on #55
I will try now and revert with result

[2019-04-11 21:09] Ronmenator commented on #55
Thank you @OlegRa, all fixed in 3.0.2

[2019-04-11 21:12] #7 closed

[2019-04-11 21:13] #55 closed

[2019-04-11 21:19] OlegRa opened #57 "Fix AppVeyor build issues"
For better diagnosis build result we have to do next changes on Appveyor build:

- [x]  Build `Release` configuration instead of default `Debug` configuration (add `-c Release` flag into `dotnet build` command).
- [x]  Keep NuGet packages at least for 3 days even if we do not publish them on public NuGet server (for fast checks before official releases).
- [x]  Add product release on GitHub after

[2019-05-06 19:52] ttt733 commented on #23
While it's not quite a step-by-step guide like the one this issue links to, if you're interested in this issue, you may want to look at the UsageExamples directory [here](https://github.com/alpacahq/alpaca-trade-api-csharp/tree/master/UsageExamples).

[2019-05-07 13:56] OlegRa commented on #57
@ttt733 See my comments below:

- For second task (keep artifacts somehow) see [this](https://www.appveyor.com/docs/packaging-artifacts/#artifacts-retention-policy) help topic. But I think if we will implement 3rd task and will add .nupkg file as release artifact it would be good enough.
- For third task you can try to reuse [this](https://www.appveyor.com/docs/deployment/github/) approach. Ideall

[2019-05-14 06:51] ryanfalke commented on #23
Thank you!

[2019-05-16 20:41] OlegRa opened #59 "Fix warnings in new UsageExamples project code"
There are lot of compiler warnings in this code - we can resolve most of them without affecting code readability.

[2019-05-17 05:07] ttt733 commented on #59
Just noticed these in the Appveyor log - agreed; pretty ugly. Feel free to clean it up now, or I can do it this weekend.

[2019-05-17 16:38] #59 closed

[2019-05-20 20:16] jameswhollister opened #61 "GetBarSetAsync datetime parameters ignored"
Appears the way that datetime parameters are getting added aren't working on the latest api. One example is GetBarSetAsync

The Alpaca docs state that dates should be formatted as '2019-04-15T09:30:00-04:00'

Currently it's passed in another format and ends up being ignored by the api.

[2019-05-28 16:20] Wingspear opened #62 "Errors on Console when Building"
<img width="922" alt="screenshot" src="https://user-images.githubusercontent.com/27274272/58494398-da712080-8129-11e9-9854-8144646713ee.PNG">

[2019-05-28 18:42] OlegRa commented on #62
@Wingspear Please, attach full build log from Output window and specify which version of Visual Studio do you use.

[2019-06-03 20:56] OlegRa commented on #61
@ttt733 Could you please test it with your latest changes in PR #63 and if it solved, close this issue and publish updated version on NuGet?

[2019-06-04 22:25] OlegRa commented on #61
@jameswhollister Sorry for delay, James. Are this problem still actual for you? Unfortunately, I'm unable to reproduce it on my side. Code like [this](https://github.com/alpacahq/alpaca-trade-api-csharp/blob/3af5d02b9a6338b1f1a91cf888932c40a7d1c542/Alpaca.Markets.Tests/RestClientGeneralTest.cs#L137) just works fine for me. If you will provide sample code which demonstrates issue I will try to figu

[2019-06-10 20:16] sghitch opened #65 "Stream Aggregates Incorrect End Time"
Line 58 of JsonStreamAgg:
`EndTime = DateTime.SpecifyKind(
                DateTimeOffset.FromUnixTimeMilliseconds(StartTimeOffset)
                    .DateTime, DateTimeKind.Utc);`

Should reference EndTimeOffset instead of StartTimeOffset. Happy to submit a PR for this

[2019-06-10 20:25] OlegRa commented on #65
Hi @sghitch, it would be very helpful. I'll review and merge it ASAP. Please, make PR for `develop` branch.

[2019-06-10 21:47] sghitch commented on #65
@OlegRa I've got it queued, but am getting a 403 error, I assume I need access?

[2019-06-12 13:42] OlegRa commented on #65
@sghitch Sorry for delay, you have to fork this repo and create PR from your fork into this (upstream) repo.

[2019-06-14 11:27] OlegRa commented on #62
There is no updates related to this issue for more than 2 weeks. I'll close it now. If you (@Wingspear) still experience this problem, reopen it and provide required information.

[2019-06-14 11:27] #62 closed

[2019-06-18 13:24] Ronmenator opened #66 "Overflow exception on Time Conversion from Unix for all quotes received"
Receiving Quotes from Nats messages are throwing an exception in 3.0.4. See attached images

![image](https://user-images.githubusercontent.com/6628234/59687415-acfc1d80-9191-11e9-9794-93e5fdbc611a.png)

![image](https://user-images.githubusercontent.com/6628234/59687503-b2f1fe80-9191-11e9-9165-45f337120179.png)

[2019-06-18 13:32] Ronmenator opened #67 "The new Aggregate function date parameters not inclusive"
The new Aggregate function to retrieve Candle data from the Polygon server is not returning the current candle, it only always returns up to the TODATE exclusive. See, https://api.polygon.io/v2/aggs/ticker/ENT/range/1/day/2019-06-10/2019-06-19?unadjusted=false&apiKey= use your own API key. There is no way to retrieve today's 1day Candle. If you change the parameters to 1 hour, you can get today's

[2019-06-18 19:14] sghitch commented on #66
I started seeing this last week, looks like the timestamp started coming in nanoseconds, but only for quotes so far

[2019-06-18 19:24] Ronmenator commented on #66
So the fix should be very easy to divide the timestamp by 1000000, to get rid of the nanoseconds before doing the time conversion.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: sghitch <notifications@github.com>
Sent: Tuesday, June 18, 2019 12:14:06 PM
To: alpacahq/alpaca-trade-api-csharp
Cc: Ronnie Barnard; Author
Subject: R

[2019-06-18 19:47] sghitch commented on #66
That's what I've done to get myself unblocked. For a more formal fix ideally you'd add some of the extra ticks to at least get 100 nanosecond precision

[2019-06-18 20:16] Ronmenator commented on #66
Agree,

I will implement this on my branch and test it out.

Thanks for the reply

From: sghitch<mailto:notifications@github.com>
Sent: Tuesday, June 18, 2019 12:47 PM
To: alpacahq/alpaca-trade-api-csharp<mailto:alpaca-trade-api-csharp@noreply.github.com>
Cc: Ronnie Barnard<mailto:ronnie@ronniebarnard.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [alpacahq/alpaca-trade-api-csharp] Ov

[2019-06-18 20:40] OlegRa commented on #67
Trevor (@ttt733), could you please check this issue? AFAIU API returns only closed bars so today bar will be available only after session close, right?

[2019-06-18 20:57] OlegRa commented on #66
@Ronmenator I'll assign it to you because right now I'm on vacation and unable to properly code this fix but I'll try to find time for PR review. Just don't forget about all target .NET profiles.

@ttt733 Trevor, please check this issue with Polygon.io API - according to their documentation all timestamps in NATS streams should be in Unix milliseconds format.

[2019-06-20 21:16] OlegRa commented on #61
@jameswhollister I close it now. If you still have this problem, please, provide code sample which demonstrates error and re-open this issue.

[2019-06-20 21:16] #61 closed

[2019-06-20 21:20] #65 closed

[2019-06-20 21:22] OlegRa opened #71 "Change DateTimeHelper implementation/usage"
Change DateTimeHelper class implementation and move all conditional logic into this class for more simple support and QuantConnect merging.

[2019-06-20 22:15] OlegRa commented on #66
@Ronmenator Please test it using version [3.0.6](https://www.nuget.org/packages/Alpaca.Markets/3.0.6) and re-open if problem still exists.

[2019-06-20 22:15] #66 closed

[2019-06-20 22:16] OlegRa commented on #65
@sghitch  Please test it using version [3.0.6](https://www.nuget.org/packages/Alpaca.Markets/3.0.6) and re-open if problem still exists.

[2019-06-21 22:02] sghitch commented on #71
Quotes started arriving with millisecond timestamps again for me today. Did we ever get an answer from Polygon about the expected behavior?

[2019-06-22 00:07] umitanuki commented on #71
Yes millisecond is what it should be.

[2019-06-22 07:21] OlegRa commented on #71
@umitanuki So, we have to roll-back last fix related to nanoseconds handling in such messages?

[2019-06-23 05:30] umitanuki commented on #71
Yes

[2019-06-23 10:54] OlegRa commented on #57
@ttt733 I've tried to use automated build several times but it never publishes NuGet packages and never creates releases on GitHub. What I'm doing wrong? Please, provide step-by-step instruction on WiKi for proper release process using Appveyor build.

[2019-06-23 11:04] OlegRa commented on #71
@umitanuki @sghitch I've just published release 3.0.7 on NuGet with fix for nano/milliseconds handling in stream quotes.

[2019-06-30 01:51] xutao650 opened #73 "Format of after and until parameter of ListOrdersAsync"
Hi
Thank you for offerring this wonderfull api to us.
I am using "ListOrdersAsync" to fetch orders. But when I specify after and until parameter.
The service return an exception with error code "422".
Could you please help to figure it out?

[2019-07-01 12:47] OlegRa commented on #73
@xutao650 Proposed fix is under review now (see PR #74 for details) but you can try it using pre-release version of Alpaca NuGet package available [here](https://www.nuget.org/packages/Alpaca.Markets/3.1.0-alpha).

[2019-07-01 13:14] xutao650 commented on #73
Hi
Thank you for such a quick response.
I am using the pre-release version now and the bug has been fixed.
Thank you again.

[2019-07-01 13:14] #73 closed

[2019-07-01 19:37] OlegRa opened #76 "Upgrade project dependencies"
Check NuGet dependencies and upgrade them in scope on upcoming minor release.

[2019-07-02 06:43] OlegRa commented on #52
@ttt733 Please, re-check and close it if problem is not actual now.

[2019-07-04 10:45] OlegRa commented on #57
@ttt733 @umitanuki
 I've managed to solve all build issues and automatically publish both NuGet package and GitHub release on my own fork for this repo. Release process will be really simple - build and publish steps will work only on tag pushing.
 I'll create PR for these changes soon and after merging it I will create new Appveyor build for this repo.

[2019-07-05 05:36] umitanuki commented on #57
Awesome, thanks! And sorry for not being responsive. We have had a lot going on in our backend.

[2019-07-05 14:23] biyimaks opened #80 ""partial_fill" order status enum parsing issue"
Nuget Package Version: 2.1.4

CoreCLR Version: 4.6.27617.4
**Description: The process was terminated due to an unhandled exception.
Exception Info: Newtonsoft.Json.JsonSerializationException: Error converting value "partial_fill" to type 'Alpaca.Markets.OrderStatus'. Path 'data.event', line 1, position 56. ---> System.ArgumentException: Requested value 'partial_fill' was not found.**
   at Newtons

[2019-07-05 19:55] OlegRa commented on #57
@umitanuki I've send information about adopting new build approach (re-generating secure tokens) to @ttt733 in email. As soon as he will fix tokens we can try to make release using new approach. I've created small Wiki [page](Prepare new release) about required steps.

[2019-07-08 16:28] biyimaks commented on #80
Thanks for merging in the fix to the mainline @OlegRa. When will a new release with the fix be made available ?

[2019-07-08 21:54] OlegRa commented on #80
@biyimaks Thank you for reporting this problem! You can get updated version [3.1.1](https://www.nuget.org/packages/Alpaca.Markets/3.1.1) from NuGet - build completed right now. Please, test and close if problem solved.

[2019-07-09 16:13] biyimaks commented on #80
I have verified the fix in nuget package version [3.1.1](https://www.nuget.org/packages/Alpaca.Markets/3.1.1).

Thank you!!!

[2019-07-09 16:13] #80 closed

[2019-07-09 16:16] OlegRa commented on #71
@sghitch I'll close issue now. If you still experience same problems with latest versions of SDK - re-open it and provide more information (environment/contract/.NET version).

[2019-07-09 16:16] #71 closed

[2019-07-09 16:17] #57 closed

[2019-07-09 19:55] mercalli opened #84 "GetBarSetAsync fails with 'code' missing from JsonError parsing"
**Alpaca.Markets Package Version**: 3.1.1

**Issue**: When attempting to call GetBarSetAsync a json deserialization error is thrown. Error message states that the required 'code' property is not set, this seems to be swallowing the actual error being thrown, since the message isn't being deserialized properly.

**Error Message**: Required property 'code' not found in JSON. Path '', line 1, positio

[2019-07-09 22:32] thedudebond commented on #84
Same here.

[2019-07-10 10:09] OlegRa opened #86 "Improve HTTP error codes handling in REST APIs"
Not all HTTP responses with error codes contains extended data in response body. In this case user receives generic JSON parsing error - we should handle this case correctly and throw our own exception type with basic information from HTTP response itself. See more details in issue #84 (HTTP code 404).

[2019-07-10 10:13] OlegRa commented on #84
@mercalli @thedudebond Could you please test version 3.1.2 of SDK and close this issue if this problem disappears.

[2019-07-10 14:52] thedudebond commented on #84
This is working for me now. However, I get the same error when calling RestClient.GetLastQuoteAsync with the same symbol. Looking at the method summary, seems like this would require access to Polygon and should probably have a better message.

[2019-07-10 18:36] OlegRa commented on #84
@thedudebond I've already created another issue (#86 ) about proper generic HTTP errors handling.

[2019-07-11 00:33] mercalli commented on #84
I can confirm 3.1.2 fixed the issue. Thanks for the quick turn around on this :+1:

[2019-07-11 00:33] #84 closed

[2019-07-11 11:51] #27 closed

[2019-07-11 12:19] #76 closed

[2019-07-11 12:19] #86 closed

[2019-07-11 13:11] OlegRa commented on #67
@Ronmenator I'll close it for now. This problem is not specific for .NET SDK - ask this question to Alpaca support directly.

[2019-07-11 13:11] #67 closed

[2019-07-11 13:12] OlegRa commented on #52
@ttt733 I'll close it for now. If problem still exists just re-open it.

[2019-07-11 13:12] #52 closed

[2019-07-18 21:44] OlegRa opened #88 "Change message dispatching approach in web socket clients"
Current message dispatching approach based on string constants and switch/case section. Try to find another more type-safe approach.

[2019-07-18 21:54] OlegRa opened #89 "Rewrite code using C#7.2 language features"
Now we compile all code with `latest` version of C# so we can use lambda methods and other new language features not dependent on target framework.

[2019-07-18 22:20] OlegRa opened #90 "Add Microsoft.CodeAnalysis.FxCopAnalyzers into main project"
Add Microsoft-recommended checks into main SDK project and suppress false positive warnings. Right now this analyzer generates about 100 errors in Alpaca.Markets project and some errors looks very important.

[2019-07-20 20:52] OlegRa opened #92 "Update Wiki and ReadMe file with Polygon streaming changes"
New SDK release (3.2.0-beta2) introduces new quotes streaming connection for Polygon API - now it based on web sockets instead of NATS. We have to update Wiki and Readme pages appropriately.

[2019-07-21 09:00] OlegRa opened #93 "Try to find approach for generating web docs"
We can generate web-based documentation from our XML documentation files. One possible way is [Sandcastle](https://github.com/EWSoftware/SHFB)-generated Markdown content and host it using GitHub Pages. Another good alternative - [DocFX](https://dotnet.github.io/docfx/index.html) tool

[2019-07-21 09:24] #92 closed

[2019-07-25 18:00] apasumarthi1999 opened #95 "sell_short not identified exception in OrderSide enum during PostOrderAsync client call"
Hi,

I'm trying out the short sell on paper account. I'm receiving the following exception.

**sell_short not identified exception in OrderSide enum during PostOrderAsync client call**

Appreciate if you can please resolve and release new NuGet package as soon as possible.

[2019-07-25 18:02] apasumarthi1999 opened #96 "Not receiving Trade Fill event on short sell"
Hi,

I'm trying out the short sell on my paper account. I'm not receiving any trade fill events after I call PostOrderAsync (which throws sell_short enum exception, but I found a dirty workaround until you fix it).

However, I see that the short sell order is placed in my portfolio.

[2019-07-25 21:58] OlegRa commented on #95
@ttt733 Trevor, I'm unable to find information about 'sell_short' order side in official API documentation. Could you please, check this issue from back-end side?

[2019-07-25 21:58] OlegRa commented on #96
@ttt733 Trevor, I'm unable to find information about 'sell_short' order side in official API documentation. Could you please, check this issue from back-end side?

[2019-07-25 22:55] OlegRa opened #100 "Handle all orders cancelling response"
According to REST endpoint documentation in case of positive response we have map with order id to cancel status mapping. Current implementation just ignore this list but we can deserialize it and provide to caller.

[2019-07-26 03:06] apasumarthi1999 commented on #96
Alpaca has recently allowed short selling. We can do short selling by placing a sell order without having a long order for the symbol. In this case the alpaca api is returning sell_short value for OrderSide enum. And in this c# SDK, OrderSide has only buy and sell enum values, so it is throwing exception that sell_short could not be converted to OrderSide enum.

Hope you can try short selling on a

[2019-07-26 17:20] ttt733 commented on #96
I mentioned this in a comment on the PR, but this is due to a backend issue with Alpaca. We've identified the code change that needs to be made and will be deploying a fix outside of market hours.

[2019-07-26 17:21] ttt733 commented on #95
I mentioned this in a comment on the PR, but this is due to a backend issue with Alpaca. We've identified the code change that needs to be made and will be deploying a fix outside of market hours.

[2019-07-26 21:34] OlegRa commented on #96
Will be fixed on backend soon. No changes in client SDK's required. See comment for PR #101 for more details.

[2019-07-26 21:34] #96 closed

[2019-07-26 21:35] OlegRa commented on #95
Will be fixed on backend soon. No changes in client SDK's required. See comment for PR #101 for more details.

[2019-07-26 21:35] #95 closed

[2019-08-01 22:18] OlegRa opened #103 "Handle all positions cancelling response"
According to REST endpoint documentation in case of positive response we have map with order id to cancel status mapping. Current implementation just ignore this list but we can deserialize it and provide to caller.

[2019-08-06 15:13] apfitzge opened #104 "PolygonSockClient Connection Error"
Trying to follow the brokerage account example and establish a connection through the PolygonSockClient. Minimal example below:
[code]
This results in the following errors being written (both during or after market-hours):
[code]

[2019-08-06 17:57] OlegRa commented on #104
@apfitzge I'll try to fix it today and prepare build with hotfix after PR review.

[2019-08-06 20:02] OlegRa opened #106 "Change configuration approach for clients"
In current implementation we pass all configuration options as configuration parameters. It makes extension harder and in most cases user have to duplicate code with initialization parameters. All configuration options can be placed into a single class and this class can be used as single argument for initializing all clients.
Because this is a breaking change so it can be done only in scope of ma

[2019-08-06 20:05] OlegRa opened #107 "Add cancellation support into all async methods"
Current implementation of all REST calls wrappers don't support cancellation token. For proper async pattern support we have to provide versions of these methods with cancellation token. This is a breaking change so we can do it only in scope of next major release.

[2019-08-06 21:24] OlegRa commented on #104
@apfitzge PR #105 still under review but I've prepared [3.2.1-alpha](https://www.nuget.org/packages/Alpaca.Markets/3.2.1-alpha) version for you. Please, test it and report any new problems relate to this version in this issue.

[2019-08-06 23:15] apfitzge commented on #104
@OlegRa Thanks for the quick turn around on this.

I've tested on 3.2.1-alpha and the reported error seems to be resolved.
I can successfully establish a connection.

Trying to continue follow the usage example, and subscribing to a data stream:
[code]
This resulsts in the following output:
[code]

The order on this seems to be the opposite of what I'd expect from wating for the connection.
The co

[2019-08-07 13:56] OlegRa commented on #104
@apfitzge You are right, current behavior of `ConnectAsync()` method is not very clear from documentation. It returns promise for channel-level connection event not for application level 'connected and authorized' state. You have to wait for `Connected` event with `Authorized` state before your subscription requests will be processed correctly on server side.

You can check PR #105 - `PolygonSockC

[2019-08-07 13:57] OlegRa opened #108 "Add method ConnectAndAuthenticateAsync method into SockClientBase"
@apfitzge You are right, current behavior of `ConnectAsync()` method is not very clear from documentation. It returns promise for channel-level connection event not for application level 'connected and authorized' state. You have to wait for `Connected` event with `Authorized` state before your subscription requests will be processed correctly on server side.

You can check PR #105 - `PolygonSockC

[2019-08-07 14:48] apfitzge commented on #104
@OlegRa Thanks, that makes sense. The added `ConnectAndAuthenticateAsync()` improvement/issue will make this easier in the future.

[2019-08-07 20:12] OlegRa commented on #104
Please @apfitzge close it if all works fine in final [3.2.1](https://www.nuget.org/packages/Alpaca.Markets/3.2.1) version available on NuGet,

[2019-08-08 02:19] apfitzge commented on #104
Confirmed to work on 3.2.1 version on NuGet, closing this issue.

[2019-08-08 02:19] #104 closed

[2019-08-10 16:36] OlegRa opened #109 "Add .NET Standard 2.1 support into SDK"
Switch to C#8.0, add more nullable types checks/contracts, try new features like JSON reader and memory spans.

[2019-08-10 16:42] OlegRa opened #110 "Check SDK design against MS recommendations for .NET OSS libraries"
Microsoft has very good [guideline](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/) for .NET OSS libraries developers available online. We should check our current SDK design against these rules and improve it in the next major release.

List of open issues:

- [x] Reserve `Alpaca` prefix for the NuGet package. See more details [here](https://docs.microsoft.com/en-us/nuget/nuge

[2019-08-10 16:44] OlegRa opened #111 "Add .NET API analyzer into build process"
For better cross-platform support we should check used API and it can be done via special [static code analyzer](https://docs.microsoft.com/en-us/dotnet/standard/analyzers/api-analyzer) provided by Microsoft.

[2019-08-10 18:38] OlegRa opened #112 "Move Alpaca.Markets.Tests into own repo"
Move all unit tests into separate repository. It will speed-up build a little bit and in this case we can immediately check backward compatibility between SDK versions.

[2019-08-12 22:05] ttt733 commented on #106
Please note pull #113 when considering this - authentication will in the future be available either via key pair or a single OAuth token.

[2019-08-23 05:56] #90 closed

[2019-08-23 06:04] #89 closed

[2019-08-23 08:06] #112 closed

[2019-08-28 03:27] ooples opened #117 "PolygonSockClient - request to subscribe for many symbols"
I know this is based on the polygon api but you can subscribe to multiple stock symbols at the same time. In the examples I can see here, it looks like it was only designed for one symbol at a time unless I'm missing something. Is there an example available for subscribing for something like 10 symbols from a portfolio to check for any changes?

[2019-08-28 10:48] #88 closed

[2019-08-28 10:48] #108 closed

[2019-08-28 16:10] OlegRa commented on #117
@ooples You can test new methods for batch subscription/unsubscription in [3.3.0-alpha](https://www.nuget.org/packages/Alpaca.Markets/3.3.0-alpha) pre-release version. If all work as expected, please, close this issue.

[2019-08-29 02:28] ooples commented on #117
I have a few questions. If you have multiple open positions ie a portfolio, will these positions be automatically subscribed to? Also will you add a feature that can allow us to use backtest strategies with paper trading using historical data. We would use the order method with a custom parameter for date info so we can make past trades. Unless this is already possible and I'm not aware?

[2019-08-29 07:48] OlegRa commented on #117
This SDK is just a thin wrapper around HTTP/WebSocket APIs and nothing more. Each method call is independent and your code is responsible to properly subscribe/unsubscribe contracts which required in your biz logic. Same is true about 'past trades' - Alpaca API itself doesn't support such type of orders so SDK doesn't provide them too. You have to implement them yourself (or use another existing l

[2019-08-29 07:49] #100 closed

[2019-08-29 07:54] OlegRa opened #118 "Add .NET Core 3.0 support into SDK"
.NET Core 3.0 will be shipped with updated JSON and web socket support and we can create more fast and stable version of SDK based on this .NET framework generation. This also allows us to support .NET Standard 2.1, completely switch to C#8.0, add more nullable types checks/contracts and memory spans support (if applicable).

[2019-09-01 14:08] ooples opened #119 "Unprocessable Entity errors"
Is there a list of supported stock symbols that alpaca deals with? I haven't been able to find anything so far. Or even better yet is there a method yet that can check a symbol to see if it returns true or false if it is a supported symbol on alpaca?

I'm getting this error for symbol ELC which is found here on yahoo finance:
https://finance.yahoo.com/quote/ELC?p=ELC&.tsrc=fin-srch

[2019-09-02 08:56] OlegRa commented on #119
@ooples According to [this](https://docs.alpaca.markets/market-data/) Alpaca documentation page:

This contract (ELC) is ETF so it's not possible to use it via Alpaca API. For brief checks you can get full list of supported assets using `ListAssetsAsync` method and populate in-memory `HashSet` with asset symbols. Or just use `GetAssetAsync` method and check return value/exception.

[2019-09-02 08:56] #119 closed

[2019-09-02 18:39] codebeaulieu opened #120 "Create OAuth constructor for RestClient"
I'm not seeing the value in requiring me to do something like this:

`_restClient = new RestClient("adsfadsf", "asdfasdf", oauthKey: myAuthKey);`

If the first two parameters are thrown away, why not just have a new constructor for oAuth?

[2019-09-03 08:28] OlegRa commented on #120
@codebeaulieu You are right, this should be better for end user but it's not clear for new user what is difference between these two constructors. And it's not clear for compiler which overload should be used if constructor will be called with 2 string parameters without names because existing class has constructor with 5 string parameters (2 mandatory and 3 optional).

I have an idea how to solve

[2019-09-04 03:11] ooples opened #121 "You must send data by websocket after websocket is opened!"
I'm using the Usage Example code and trying to connect and run testing for the first time but I'm receiving the error and I am not sure why exactly because I haven't changed any code from the examples. Am I missing something?

https://gofile.io/?c=1tjFh6

Code is below:

            public async Task Run()
            {
            restClient = new RestClient(API_KEY, API_SECRET, API_URL, apiVersi

[2019-09-04 06:34] OlegRa commented on #121
@ooples This is well known problem - see issue #104 for details and issue #108 for solution. Use method `ConnectAndAuthenticateAsync` instead of `ConnectAsync` in such cases. I'll update our examples for preventing this misunderstandings in future.

[2019-09-04 06:34] #121 closed

[2019-09-04 07:15] #111 closed

[2019-09-05 00:18] ooples opened #123 "The remote name could not be resolved: 'paper-api.alpaca.markets'"
I'm getting this error after running the example code (after making the switch to the ConnectAndAuthenticateAsync. Is this a known issue? I double checked the url I was using of course and it matches exactly with the example code

[2019-09-05 09:40] OlegRa commented on #123
@ooples This DNS name is valid and it works fine on my side. In any case it's not an SDK issue - if OS unable to find some computer by DNS name top-level software can't help with this problem.

[2019-09-05 15:08] ooples commented on #123
It isn't a connection issue on my side. I checked everything on my end and it works. I'm also receiving this error as well

A request to send or receive data was disallowed because the socket is not connected and (when sending on a datagram socket using a sendto call) no address was supplied

[2019-09-05 17:05] OlegRa commented on #123
Unfortunately, I'm unable to reproduce this problem on my side. Could you please provide more information about your environment: OS (exact version and bitness), .NET (exact flavor/version and bitness). Ideally, if you will provide full exception info or (in best case) full process dump collected at exception point it would be very helpful for investigation.

[2019-09-05 19:21] ooples commented on #123
I'm using 64 bit windows 10 and .net 4.8

I believe I have narrowed down the source of the issue. If you place a breakpoint in the example code while the program is running then it seems to lose connection to the sock client when you continue running the program. I'm able to replicate it with my code on my end.

[2019-09-05 19:25] ooples opened #124 "Feature request: Include day trading buying power and/or correct account buying Power"
According to the details on the alpaca documentation found below:

https://docs.alpaca.markets/user-protections/#day-trade-margin-call-dtmc-protection-at-alpaca

If a user is marked for dmtc protection, the user's true buying power is the day trading buying power and so the value that you receive using the api isn't the accurate buying power so if you try to buy stocks using the max buying power y

[2019-09-05 19:36] ooples opened #125 "Error converting value "failed" to type 'Alpaca.Markets.ConnectionStatus'. Path '[0].status', line 1, position 33."
I don't believe this is related to the other issue I posted about but I'm receiving this error message and it looks like an api error to me

![Screenshot_1](https://user-images.githubusercontent.com/3075685/64374954-ddb25d00-cff2-11e9-8adc-1398d307ec47.png)

I apparently receive this error when trying to buy shares of an asset that is listed using the ListAssetsAsync method but is marked as not ac

[2019-09-05 20:14] ooples opened #126 "Feature Request: Include Extended Trading Hours Info"
You can get the regular trading hours information for IsOpen, NextOpen, NextClose in the GetClockAsync() method but I would like to receive that same information for extended market hours as well in case a user like myself wants to trade during extended hours

[2019-09-06 13:47] OlegRa commented on #126
@ooples Please, use general Alpaca [feature request](https://forum.alpaca.markets/c/alpaca/feature-requests) interface for requesting new features not available in Alpaca API. For instance your request already reported [here](https://forum.alpaca.markets/t/clock-api-and-extended-hours/118/2) and has answer about availability. This SDK just .NET facade for original REST/WS APIs and we unable to add

[2019-09-06 13:47] #126 closed

[2019-09-06 14:37] ooples commented on #123
Digging further into this issue seems to point to the issue with the underlying socket losing connection for whatever reason but the existing api code makes it impossible to know when this happens. I suggest that you include the underlying socket's disconnected event in the api so the user can reconnect and authenticate once the socket is disconnected. You implement the connected event but not the

[2019-09-06 14:50] OlegRa commented on #123
OK. Sounds reasonable. Will try to include in upcoming 3.3.0 release.

[2019-09-06 19:47] OlegRa commented on #125
@ooples You can test fix for this problem in [3.2.4](https://www.nuget.org/packages/Alpaca.Markets/3.2.4) or [3.3.0-beta](https://www.nuget.org/packages/Alpaca.Markets/3.3.0-beta) packages available on NuGet.

[2019-09-06 19:49] OlegRa commented on #124
@ooples You can check new properties of `IAccount` interface in [3.2.4](https://www.nuget.org/packages/Alpaca.Markets/3.2.4) or [3.3.0-beta](https://www.nuget.org/packages/Alpaca.Markets/3.3.0-beta) packages available on NuGet.

[2019-09-06 19:50] ooples commented on #124
I'm already checking that now actually lol. I'm loving the quick turnaround on bug fixes. I really appreciate it!

[2019-09-06 19:50] OlegRa opened #127 "Add `Disconnected` event into `SockClientBase` class"
Digging further into this issue seems to point to the issue with the underlying socket losing connection for whatever reason but the existing api code makes it impossible to know when this happens. I suggest that you include the underlying socket's disconnected event in the api so the user can reconnect and authenticate once the socket is disconnected. You implement the connected event but not the

[2019-09-06 20:06] ooples commented on #124
I have seen one issue but I'm not sure if the problem lies on your end or the data you are pulling from the socket api.

According to this link: https://docs.alpaca.markets/user-protections/#day-trade-margin-call-dtmc-protection-at-alpaca

On my end I have the account multiplier of 4 but the bool for isPatternDayTrader is showing up as false which is obviously incorrect. I place multiple orders pe

[2019-09-06 20:10] OlegRa commented on #124
@ttt733 Trevor, could you please check this problem on your side?

[2019-09-06 21:00] ooples commented on #127
Do you have an eta on when you will get this fix done? It is my biggest issue that I have run across so far

[2019-09-07 17:31] OlegRa commented on #109
.NET Standard 2.1 will be never supported by .NET Framework and it has no sense to support .NET Standard 2.1 without providing .NET Core 3.0 unique features so I've joined this issue with issue #118 and close this one.

[2019-09-07 17:31] #109 closed

[2019-09-07 17:32] #123 closed

[2019-09-07 17:33] #107 closed

[2019-09-07 17:41] OlegRa commented on #127
I'll try to do it in 3.3.0-beta this weekend and back port to 3.2.x beginning of next week.

[2019-09-08 09:10] OlegRa commented on #127
@ooples I've decided to make final [3.3.0](https://www.nuget.org/packages/Alpaca.Markets/3.3.0) release with this feature. You can use `SocketClosed` event now for handling underlying web socket disconnections. Unfortunately, right now it's not possible to know exact reason of disconnection from event handler but maybe in future major releases this information will be available.

[2019-09-09 18:08] ooples commented on #117
From my testing it looks all of the connection issues I had with the websockets is actually because of these new methods. I'm going to need you to verify on your end but I have run tests on 20 symbols at a time, 100 symbols, 200 symbols and the results are all over the place. When I run 20 symbols at a time it only gets results from around 7 or so at  a time but that changes sporadically. Same for

[2019-09-09 18:21] ooples commented on #125
I believe you fixed it because I haven't been able to repeat this issue but I would make a suggestion because if you use the same symbol CALI for subscribe events, now nothing happens at all and the user should at least get an exception or message letting them know that CALI is not an active symbol or something instead of nothing happening at all

[2019-09-10 16:35] OlegRa commented on #125
Failed subscription attempts should be reported via `OnError` event but right now Polygon.io API never send `failed` status messages (at least on staging environment) for invalid subscriptions for inactive (or even invalid) contract names. So we unable to detect failed subscription on client side now. Maybe it's only staging issue and production system reports failed subscription as expected.

[2019-09-10 17:10] OlegRa commented on #117
I'm unable to reproduce this problem on Polygon.io stage environment even if I try 50 contracts in one subscription. Please, provide your contracts list and I'll investigate problem on my side ASAP.

[2019-09-10 17:23] ooples commented on #117
I don't believe it is the list itself that is the issue. I ran a test and commented out all of the code in the minute received event and it worked as expected. I then checked several websocket properties and saw that the websocket status goes to None and I changed the ping interval to the default 60 but I'm still seeing these issues

[2019-09-10 17:44] OlegRa commented on #117
Could you please attach here minimal project which reproduces issue with disconnected web socket.

[2019-09-10 17:50] ooples commented on #117
I would prefer to email it to you

[2019-09-10 18:20] OlegRa commented on #117
You can find my email on GitHub profile page.

[2019-09-10 19:01] ooples commented on #117
@OlegRa I emailed it you. Please confirm that you have received it

[2019-09-10 19:39] OlegRa commented on #117
@ooples I'm unable to download this archive from Google Drive. Minimal code for reproducing problem should be simple one file - just share it as Gist.

[2019-09-10 20:39] ooples commented on #117
@OlegRa I published it on a github private repo and the link is https://github.com/ooples/alpacaexample

I included my original code because I wanted you to be able to get the same symbols that I'm using to reproduce the issue. I'm not sure how to share my code with you though. I have never done that before

[2019-09-11 14:51] OlegRa commented on #117
@ooples OK. I've checked you code and I have lot of questions about it. But first - I'm unable to reproduce problem with disconnected web socket. I've run your code for a while and all works fine on my side - it connected and data for all contracts are received after one minute.
So for me this issue is closed. If you want my support with your code - we can discuss it in scope of separate issue in

[2019-09-11 14:51] #117 closed

[2019-09-11 15:42] OlegRa opened #128 "Return `IReadOnlyList<T>` instead of `IEnumerable<T>` from methods"
All SDK methods which returns lists return `IEnumerable<T>` now but in fact it's already 'materialized' list of parsed JSON objects so returning `IReadOnlyList<T>` looks more correct.

[2019-09-11 16:18] #103 closed

[2019-09-11 23:43] ooples commented on #117
I responded to your questions but I didn't do a great job at describing the
issue thoroughly. I have included a much better description that will allow
you to see the same bug I'm seeing

On Wed, Sep 11, 2019 at 10:51 AM Oleg Rakhmatulin <notifications@github.com>
wrote:

[2019-09-16 15:40] ttt733 opened #129 "No support for PATCH requests in HttpClient"
Alpaca's added some new PATCH endpoints -
https://docs.alpaca.markets/api-documentation/api-v2/orders/#replace-an-order
https://docs.alpaca.markets/api-documentation/api-v2/account-configuration/

I was looking into ways to add these to the SDK, but it looks like [PATCH requests weren't added until 2.1](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.patchasync?view=netstand

[2019-09-16 17:44] OlegRa commented on #129
@ttt733 Yes, it's not supported out-of-box until .NET Core 3.0 (still in preview now) and I'm not sure at which version of full .NET Framework it will be available. But fortunately there is a workaround for creating custom HTTP verbs in .NET - I can implement one of these methods or all of them today and send you PR for review.

[2019-09-16 17:47] OlegRa commented on #129
@ttt733 In any case we have to add account configuration endpoints support into SDK. I'll create separate issue for this task.

[2019-09-16 17:52] OlegRa opened #130 "Add account configuration support from Alpaca REST API"
Account configuration options can be requested/updated using Alpaca REST API using next [endpoints](https://docs.alpaca.markets/api-documentation/api-v2/account-configuration/). We have to add support for this functions into this SDK.

[2019-09-16 17:56] OlegRa commented on #129
@ttt733 Another big problem is current SDK design - for type safety methods never return deserialized JSON objects directly - only via read-only interfaces. But now we need setters at least for some properties in `IOrder` interface and I'm not sure how to implement it w/o breaking current SDK design.

[2019-09-16 22:14] OlegRa commented on #120
I will close it due two weeks of inactivity. If you @codebeaulieu still want to include it into 3.4.0 or even 3.3.x release feel free to re-open it.

[2019-09-16 22:14] #120 closed

[2019-09-16 22:17] OlegRa commented on #130
@ttt733 Please, review my PRs. I will merge both and prepare new release as soon as you will approve changes.

[2019-09-16 22:17] OlegRa commented on #129
@ttt733 Please, review my PRs. I will merge both and prepare new release as soon as you will approve changes.

[2019-09-17 17:02] OlegRa commented on #130
Can be tested in versions [3.3.2](https://www.nuget.org/packages/Alpaca.Markets/3.3.2) and [3.2.6](https://www.nuget.org/packages/Alpaca.Markets/3.2.6) available on NuGet.

[2019-09-17 17:02] #130 closed

[2019-09-17 17:02] OlegRa commented on #129
Can be tested in versions [3.3.2](https://www.nuget.org/packages/Alpaca.Markets/3.3.2) and [3.2.6](https://www.nuget.org/packages/Alpaca.Markets/3.2.6) available on NuGet.

[2019-09-17 17:02] #129 closed

[2019-09-22 10:47] OlegRa commented on #125
I close it for now after 2 weeks of inactivity. If problem still exist in latest version of SDK feel free to re-open this issue.

[2019-09-22 10:47] #125 closed

[2019-09-22 10:47] OlegRa commented on #124
I close it for now after 2 weeks of inactivity. If problem still exist in latest version of SDK feel free to re-open this issue.

[2019-09-22 10:47] #124 closed

[2019-09-22 10:47] OlegRa commented on #127
I close it for now after 2 weeks of inactivity. If problem still exist in latest version of SDK feel free to re-open this issue.

[2019-09-22 10:47] #127 closed

[2019-09-28 03:33] codebeaulieu opened #133 "Add PolygonSockClient ctor that takes an auth token"
I'm working on a mobile app that utilizes OAuth however **PolygonSockClient** does not support an `oauthKey`.

Could we add a constructor that takes just an `oauth` key to the PolygonSockClient similar to the constructor available in the `RestClient`?

[2019-09-29 10:43] OlegRa commented on #133
@codebeaulieu Unfortunately, I don't see any option in Polygon.io API specification for providing OAuth credentials for WebSocket authentication. Maybe I miss something or this ability just not mentioned in documents.
@ttt733 Trevor, could you please, check this question with your Polygon.io partners? If it's possible - just provide me information how I can format this authorization request and I'

[2019-10-02 22:31] nkoehler opened #134 "Error converting value "IEX" to type 'Alpaca.Markets.Exchange'. Path '[7335].exchange', line 1, position 1410521."
This was working 3 days ago, and today I ran it and it resulted in this error.  Looks like a problem with enum mapping.

ArgumentException: Requested value 'IEX' was not found.

Error converting value "IEX" to type 'Alpaca.Markets.Exchange'. Path '[7335].exchange', line 1, position 1410521.

Code:
[code]

StackTrace:
[code]
Any help is appreciated, thanks.

[2019-10-03 11:32] OlegRa commented on #134
@nkoehler I know root cause of this problem and I'll try to fix it ASAP.

[2019-10-03 12:45] OlegRa commented on #134
@nkoehler Can be teste in version [3.3.3](https://www.nuget.org/packages/Alpaca.Markets/3.3.3) available on NuGet.

[2019-10-03 22:31] nkoehler commented on #134
The issue is fixed in version 3.3.3.  Thank you for responding and fixing it so quickly! I truly appreciate the effort!

[2019-10-03 22:31] #134 closed

[2019-10-14 16:07] biyimaks opened #135 "No market data from polygon web socket"
I switched to using the `PolygonSockClient` (since the NATS client was deprecated), but no market events are being fired. See sample code below:

[code]

[2019-10-14 16:08] biyimaks commented on #135
Alpaca.markets Nuget Package Version:
```<PackageReference Include="Alpaca.Markets" Version="3.3.3" />```

[2019-10-14 20:47] OlegRa commented on #135
Hi @biyimaks - do you have brokerage account on Alpaca (paper accounts have no access to Polygon streaming data)? Unfortunately, I'm unable to check production environment because I have no brokerage account on Alpaca.

[2019-10-14 21:42] biyimaks commented on #135
Yes, I have a brokerage account on Alpaca, but I was using the paper account API Key, and this was working with the NATS client. I'll use my live account key tomorrow, and see if that fixes the issue. I'll let you know what I find after trying it.

Thanks for prompt response!

[2019-10-15 15:42] biyimaks commented on #135
@OlegRa, I tried my live alpaca brokerage account key, and that didn't work either

[2019-10-15 23:54] OlegRa commented on #135
Could you please @biyimaks provide more information about your environment? I wan to know: OS (version/bitness), .NET flavor (full Framework or Core) with exact version and bitness.
And some additonal questions:

- Have you tried previous versions of SDK?
- Can you send me execution log for your program?
- If you can [collect network logs](https://docs.microsoft.com/en-us/dotnet/framework/network-

[2019-10-16 02:20] SavageShade opened #136 "ListMinuteAggregatesAsync throwing Exception 'Unauthorized'"
Over the last week I have been able to ListMinuteAggregatesAsync() to get Aggregate data with no problems. Today I am getting the following error when making that same call. Alpaca calls have been working for me today, seems to be something with Polygon? Might be related to #135?

`Exception has occurred: CLR/Alpaca.Markets.RestClientErrorException
An exception of type 'Alpaca.Markets.RestClientEr

[2019-10-16 08:32] OlegRa commented on #135
Hi guys (@umitanuki and @ttt733)! Could you please test Polygon.io integration on server side for production environment?

[2019-10-16 16:13] biyimaks commented on #135
System Info:
[code]

Reference code:

- program.cs

[code]

- Program.csproj (AnyCPU, x64, .Net Core 2.2)
[code]

When I run the app with my Alpaca brokerage account key, using the WebSocket client (`AlpacaPolygonWebSocketClient`), I'm able to authenticate, but no market data is being received, and smaple program output is:
[code]

When I run the app with my Alpaca brokerage account key, using the

[2019-10-17 02:01] umitanuki commented on #135
@OlegRa can you check your inbox? All my email to you is returned back with error

[2019-10-17 22:43] OlegRa commented on #136
@SavageShade I can reproduce it only with paper-trading account. My staging account works fine. Which account do you use? If you use production account - send me information about your environment (OS/.NET versions/bitness) and minimal code snippet for reproducing this issue.

[2019-10-17 22:54] SavageShade commented on #136
@OlegRa Thanks for the follow up on this. The problem is currently happening with my paper-trading account. I can try to use my production account later to see if my results match yours. Assuming I get the same results, would that mean Polygon is no longer allowing paper-trading accounts of Alpaca to connect to it's API or am I interpreting that or the issue wrong?

[2019-10-17 22:59] OlegRa commented on #135
@biyimaks I've reviewed your code again and I now I have an idea what happens. AFAIU new WebSoket-based API provided by Polygon.io doesn't support wildcard subscriptions (using [*](url) character instead of specific contract name).

You have to specify list of contracts for subscribing - SDK method [SubscribeSecondAgg](url) provides overload with list of strings instead of single string.

Please,

[2019-10-17 23:37] OlegRa commented on #136
@SavageShade Yes, you got it right. I'll ask Alpaca guys about this issue. It's not clear from documentation but looks like historical data are also subject of Brokerage account contract.

[2019-10-18 14:19] OlegRa commented on #135
@biyimaks I've checked `PolygonSockClient` with production API key and all works fine in case of single contract or contract list subscription. Wildcard subscription doesn't work in new web socket version of Polygon.io streaming API. You can try to implement approach described in my previous post (`ListAssetAsync` usage).

[2019-10-18 14:25] OlegRa commented on #136
I've checked it with production, stage and paper-only API keys. Historical data requests are working only for production and stage (development) environment. I'm still waiting confirmation from Alpaca and Polygon.io side but most probably it's true and this new rule was enforced by last back-end update. I'm unable to do anything with it from SDK side.

[2019-10-18 15:50] #136 closed

[2019-10-18 21:29] OlegRa commented on #133
I will close it for now. New update for Polygon.io integration coming soon on the back-end. Maybe I will add such an option in the next major release if it will be supported by the back-end.

[2019-10-18 21:29] #133 closed

[2019-10-21 15:50] biyimaks commented on #135
I tried listening to the events for `AAPL` only and still I couldn't get any market events

[2019-10-21 16:30] OlegRa commented on #135
@biyimaks Do you use a brokerage account API key for testing? Paper account API keys will not work with Polygon.io streaming/historical data requests.

[2019-10-21 17:30] biyimaks commented on #135
Yes, I'm using my live brokerage account API key. I'm willing to provide network traces to help with with investigation. Let me know what kind of data you need

[2019-10-21 18:16] OlegRa commented on #135
I need full network traces for your web socket client connection attempt. I need logs only for a single case with AAPL contract subscription. Zip logs and attach archive here.

[2019-10-21 18:47] biyimaks commented on #135
@OlegRa, see
[AAPL trace.zip](https://github.com/alpacahq/alpaca-trade-api-csharp/files/3752412/AAPL.trace.zip)

Please let me know if you need any additional data.

[2019-10-21 19:54] OlegRa commented on #135
Maybe current class design doesn't very clean and error-prone but... Why do you use different event types for Polygon client subscription?

[code]
 And for NATS client you use a correct combination:

[code]

 I think in case of a single contract and web socket client this code should look like:

[code]

[2019-10-21 19:59] OlegRa opened #137 "Change subscription approach for socket clients"
Current design (separate methods for subscription/unsubscription and events for handling) is very contr-intuitive. Users often make errors and subscribe incorrect handlers not matching original subscription requests.
We should re-design this approach and make it in a more _reactive_ fashion. Subscription request should return some signaling object which generates events only for items from the ori

[2019-10-21 20:01] biyimaks commented on #135
Ah, that's a bug on my side, but it doesn't appear to be the issue. I fixed the code and re-ran the test app, but I still get no market data. See the new trace after the fix:
[updated AAPL trace.zip](https://github.com/alpacahq/alpaca-trade-api-csharp/files/3752672/updated.AAPL.trace.zip)

[2019-10-21 20:53] #128 closed

[2019-10-21 21:38] OlegRa commented on #135
OK. I can finally reproduce this issue on my side and have found the root cause in code. There is blocking call in the `Main` method which prevents PolygonSockClient from raising events. Subscription attempts performed only after a timeout completion (too late). There is a more simple version of the test code which you can use for checking problem on your side:

[code]

[2019-10-22 16:00] biyimaks commented on #135
Hi @OlegRa, I've verified your code sample works for me. So it appears the issue is because I was using a `ManualResetEventSlim` to wait for events. I would think the SDK shouldn't be firing those events on the main thread of execution and should be using a background task / thread instead.

Thanks for investigating this issue though!! I really appreciate it!

[2019-10-22 16:20] OlegRa commented on #135
I'm unable to change this behavior in the current SDK version because it would be a breaking change. But I'll open a separate issue for the next major release. In this case, I'll have time for investigation of possible procs and cons of this change.

[2019-10-22 16:20] OlegRa opened #138 "Change streaming client event handling"
I'm unable to change this behavior in the current SDK version because it would be a breaking change. But I'll open a separate issue for the next major release. In this case, I'll have time for investigation of possible procs and cons of this change.

_Originally posted by @OlegRa in https://github.com/alpacahq/alpaca-trade-api-csharp/issues/135#issuecomment-545041892_

[2019-10-22 16:23] OlegRa commented on #135
@biyimaks Could you please close this issue if the problem is solved now.

[2019-10-22 16:24] #135 closed

[2019-10-25 20:36] #110 closed

[2019-11-07 01:33] codebeaulieu opened #140 "Example of ListOrdersAsync called"
Could someone provide an example of how you call `ListOrdersAsync` to get, say, the last 3 months worth of orders?

I **used** to have this working during v 2.0, (stepped away for a few months) but now whenever I call it with any sort of date added, I get zero results back.

For example:
[code]

returns `0` records

[code]
returns `500` records

[2019-11-08 08:23] OlegRa commented on #140
@codebeaulieu If you specify `untilDateTimeExclusive` argument you really specify that the response will include only order submitted until this timestamp. So if you need orders for the last 3 months you have to use the `afterDateTimeExclusive` argument instead. If this will also not work - tell me and I'll check this problem again. AFAIR we've had similar issue several months ago and it was relat

[2019-11-08 13:40] codebeaulieu commented on #140
@OlegRa Wouldn't `startDate` and `endDate` eliminate all confusion? Maybe I'm misunderstanding what the intention is here.

But yes, this works:
```await _restClient.ListOrdersAsync(OrderStatusFilter.All, afterDateTimeExclusive: DateTime.Now.AddMonths(-3).Date, limitOrderNumber: 500).ConfigureAwait(false);```

[2019-11-08 13:40] #140 closed

[2019-11-08 14:22] OlegRa commented on #140
@codebeaulieu My initial intention for naming was map method parameter names closer to HTTP request parameter names. But now I think you are right `startDate` and `endDate` looks more appropriate. Unfortunately, it's breaking change and I'm unable to do it right now. But it's a good point for a new issue (as logical addition for #106) - pass parameters as temporary objects with more meaningful nam

[2019-11-08 14:24] OlegRa opened #141 "Change methods parameters passing approach"
Instead of passing a list of mandatory/optional parameters into methods, we can introduce _parameters object_ types. This types (most probably structs) will encapsulate all data and validation logic for parameters set.

[2019-11-15 14:10] OlegRa opened #142 "Switch compiler to C# 8.0 by default"
C# 8.0 provides some useful improvements which can be used even for old .NET versions targets. For instance:

- [x] Improved `null` value check via `is` statement
- [x] Better read-only members support for structures
- [ ] Null-coalesce assignment operator `??=`
- [x] Use scoped `using` statement if possible

 All these changes will not break backward compatibility so they can be implemented in ve

[2019-11-15 14:12] OlegRa opened #143 "Add support for non-nullable reference types"
After switching to C# 8.0 and enabling .NET Standard 2.1 support in scope of issue #142 we can consider to add another great feature of .NET Core 3.0 - non-nullable reference types. This is breaking change so we have to do it in version 4.0.x of SDK.

[2019-11-15 14:14] OlegRa opened #144 "Add support for asynchronous enumerable"
After switching to C# 8.0 and enabling .NET Standard 2.1 support in scope of issue #142 we can consider to add another great feature of .NET Core 3.0 - asynchronous enumerable. This is breaking change so we have to do it in version 4.0.x of SDK.

[2019-11-15 14:19] OlegRa opened #145 "Switch to new JSON handling library"
.NET Core 3.0 and .NET Standard 2.1 provides a new built-in set of classes for fast JSON handling in .NET - this is a new recommended way for handling JSON streams in case of forward-only processing. We can enable this support in a new major SDK release after implementing other .NET Core 3.0 related changes.

[2019-11-15 14:21] OlegRa opened #146 "Try to use GitHub actions for CI/CD"
GitHub Actions now is officially released and we can try to use them for CI/CD instead of Appveyor. Porting should be simple because of Actions also use `.yml` for configuring the build process.

[2019-11-15 14:23] OlegRa commented on #118
I've changed my mind and prefer to split this big issue into simple and more manageable sub-tasks - #142 can be implemented w/o introducing breaking changes; #144, #143 and #145 should be implemented as a new major release.

[2019-11-15 14:23] #118 closed

[2019-11-15 16:41] #142 closed

[2019-11-23 16:44] OlegRa commented on #146
@umitanuki @ttt733 What to do you think about using built-in GitHub Actions for CI/CD instead of external Appveyor service? The current build script can be easy migrated to GitHub format. I can do all steps except one - creating secret stored on GitHub which will provide encrypted NuGet API key for the build process (we've done a similar task for Appveyor before). If you are OK with the existing A

[2019-11-24 05:44] umitanuki commented on #146
I think it makes sense. What should I do to migrate?

[2019-11-24 21:53] OlegRa commented on #146
@umitanuki You should do just two actions:

- Temporary disable current CI/CD running on Appveyor under `alpacahq-bot` account
- Generate new GitHub secret named `NUGET_API_KEY` using Settings -> Secret tab for this repo and real NuGet key which I've sent you via email

As soon as you'll complete these steps I do the rest.

[2019-11-25 21:41] OlegRa commented on #146
@umitanuki @ttt733 Any updates about this ticket? Have you received my email with NuGet API key?

[2019-11-26 16:31] ElektroMech opened #149 "The server doesn't send information about replaced order."
When I am trying to replace some 'limit' order (change only price) by using 'PatchOrderAsync' method, the server sends me 'Replaced' event with old order and old price.

[2019-11-26 17:04] OlegRa commented on #149
Sorry, but I'm unable to help you with this problem. I have no access to Alpaca back-end and just support this client-side SDK. If the server works incorrectly - just report it for the Alpaca support team not here on GitHub.

[2019-11-26 17:04] #149 closed

[2019-12-01 22:23] OlegRa opened #150 "Remove all classes/methods marked as obsolete"
In the next major release, we can remove all classes, enums, properties, methods marked with the `Obsolete` attribute from our codebase and remove all dependent libraries (NATS).

[2019-12-01 23:35] OlegRa opened #151 "Check `IConfiguration` usage in .NET Standard 2.1"
Check why `Microsoft.Configuration.Abstractions` dependency not used by .NET Standard 2.1 version of SDK. Most probably the root cause is in incorrect dependency configuration in the project file and in preprocessor directives usage.

[2019-12-02 11:25] ElektroMech opened #152 "Polygon supports a lot history aggregations."
Is there a reason why we can use only 'Minute' and 'Day' aggregations?

[2019-12-02 11:26] #152 closed

[2019-12-03 14:18] #151 closed

[2019-12-03 16:27] OlegRa commented on #146
@umitanuki @ttt733 Thanks a lot for your support! Now we can remove Appveyour build definition completely - the last release 3.4.1 was built on GitHub automatically and published on NuGet just by pushing version tag.

[2019-12-03 16:27] #146 closed

[2019-12-05 20:42] OlegRa opened #154 "Review new Polygon historical items interfaces"
Review new fields added in scope of last PR #153 (Polygon API v2 support) and cleanup code a little bit.

[2019-12-08 22:38] #154 closed

[2019-12-08 22:39] #150 closed

[2019-12-10 21:32] OlegRa commented on #145
After analyzing all the pros and cons of this switch and required amount changes in the source code I've decided to postpone such critical change till next major release.

[2019-12-13 15:02] dukeajuke commented on #23
Has anyone actually gotten this example to work? There are load of errors centered around the dependencies that I have not been able to resolve.

[2019-12-13 20:16] OlegRa commented on #23
@dukeajuke If you have problems with building `UsageExamples` project from sources - just open a separate issue and attach the build output with errors. I'll try to help you to resolve these errors.

[2019-12-14 16:59] dukeajuke commented on #23
Thanks Oleg. I was able to start a new console app project and got it to work using the usage examples and the GIT project example. I do have one question. Are we able to make more than one simultaneous connection to the API? If so how many?

From: Oleg Rakhmatulin [mailto:notifications@github.com]
Sent: Friday, December 13, 2019 3:17 PM
To: alpacahq/alpaca-trade-api-csharp
Cc: dukeajuke; Mention

[2019-12-14 18:22] OlegRa commented on #23
@dukeajuke I've never heard about any limitations on simultaneous connections on Alpaca REST API. Most probably you'll not be allowed to open several web socket connections to Alpaca or Polygon but REST API is not limited AFAIK. But it's better to ask such questions to Alpaca support directly.

[2019-12-15 09:06] #143 closed

[2019-12-15 09:10] OlegRa commented on #93
@ttt733 @umitanuki Hi guys, could you please enable GitHub Pages for this repository? I've created the `gh-pages` branch with auto-generated .NET SDK documentation and want to check how it looks from different browsers/platforms. It's generated semi-automated now but in the future, I'll extend existing CI/CD script for updating docs too.

[2019-12-15 09:13] OlegRa commented on #106
@OlegRa I want to add new constructors and related configuration objects into the upcoming 3.5.0 release and mark old constructors with the `Obsolete` attribute (warning level) for a more smooth transition.

[2019-12-15 09:13] OlegRa commented on #141
@OlegRa I want to add new methods and related configuration objects into the upcoming 3.5.0 release and mark old constructors with the `Obsolete` attribute (warning level) for a more smooth transition.

[2019-12-15 17:16] tclzcja opened #155 "Maybe use "usingPaperAccount" bool instead of "alpacaRestApi" for RestClient constructor"
Hi there, first of all thanks for all the great works!

Currently the constructor signature for Alpaca.Markets.RestClient looks like:

`RestClient(string keyId, string secretKey, string alpacaRestApi = null, ...)`

And AFAIK the only correct values for the alpacaRestApi are two URLs listing somewhere in the online documents: "api.alpaca.markets" for Live account and "paper-api.alpaca.markets" for

[2019-12-15 17:29] tclzcja commented on #141
Just to double confirm, are we talking about something like this in JavaScript?

`
function method({
  keyId = null,
  secretKey = null
})
`

And of course in C# we use a struct or something, as you've mentioned.

[2019-12-15 19:04] OlegRa commented on #155
@tclzcja In fact there are several non-public environments that used mostly for testing during development so boolean flag is not enough but I'll think how we can use both approaches in scope of issue #106 implementation.

[2019-12-15 19:06] OlegRa commented on #141
@tclzcja Yes, you've got it right - this temporary object can affect performance but most probably you'll create them only once and re-use for future calls (for classes) or JIT will eliminate unnecessary copying (for structs).

[2019-12-15 20:28] tclzcja commented on #141
@OlegRa got it, thank you!

[2019-12-15 20:29] tclzcja commented on #155
@OlegRa ah I see, that make sense. Thank you!

[2019-12-18 16:33] OlegRa opened #156 "Remove `IConfiguration` support from SDK"
The current approach for using the `IConfiguration` interface is not clear for users and requires source code checking for proper working. We should remove this support in favor of new configuration objects introduced in scope of issue #106 implementation.

[2019-12-18 16:51] OlegRa opened #157 "Investigate effort required for supporting .NET Standard versions before 1.6"
I'm not sure it's really demanded to real customers but if a required effort is small we can extend the list of supported .NET Standard versions and support more "ancient" versions of .NET Standard.

[2019-12-19 14:41] OlegRa opened #158 "Split and rename "Client" classes"
This will be a breaking change so we can do it only in a major release like 4.0 or later:

- [x] Rename `SockClient` into `AlpacaStreamingClient`
- [x] Rename `PolygonSockClient` into `PolygonStreamingClient`
- [x] Split `RestClient` into `AlpacaTradingClient`, `AlpacaDataClient`, and `PolygonDataClient`

As an alternative option, we can introduce these classes in a minor release in the scope of i

[2019-12-23 11:10] #157 closed

[2019-12-26 22:50] pratttrader opened #159 "Exception in ListAccountActivitiesAsync"
Not sure if I can post issues here, but I'm using this in my own application.  Everything seems to work good except for ListAccountActivitiesAsync.  Await alpacaClient.ListAccountActivitiesAsync()...returns exception:  {"Error converting value ""20191226025220444::4r588a54-4788a55aa-f2ed-e455ddfr666"" to type 'System.Guid'. Path '[0].id', line 1, position 64."}.

[2019-12-27 06:20] OlegRa commented on #159
@pratttrader You've found the right place for reporting this problem. I'll try to fix it and publish updated NuGet packages ASAP. Thank you for your support!

[2019-12-27 07:43] OlegRa commented on #159
@pratttrader You can test fix in package version [3.4.2](https://www.nuget.org/packages/Alpaca.Markets/3.4.2) available on NuGet (or you can use [3.3.7](https://www.nuget.org/packages/Alpaca.Markets/3.3.7) if you still rely on 3.3.x stream).

[2019-12-27 09:01] OlegRa opened #160 "Add support for asynchronous disposable"
After switching to C# 8.0 and enabling .NET Standard 2.1 support in scope of issue #142 we can consider to add another great feature of .NET Core 3.0 - asynchronous disposable. This is breaking change so we have to do it in version 4.0.x of SDK.

[2019-12-27 20:08] pratttrader commented on #159
Thank you...that works now.  FYI, I can't pass in anything for ActvityTypes, that works...so I'm leaving it empty and filtering after the return using ActivityType..which is fine for me, but just want to let you know.

[2019-12-27 20:15] pratttrader opened #161 "Order Side Issue"
According to documentation and your implementation,  there is Buy and Sell order side....but I did a short sale that seems to have been processed as "sell_short" so when requesting Account Activities this error was generated: "{"Error converting value ""sell_short"" to type System.Nullable`1[Alpaca.Markets.OrderSide]'. Path '[1].side', line 1, position 438."}

[2019-12-28 15:27] OlegRa commented on #161
Hi @ttt733 and @umitanuki - this issue looks very similar for me. Most probably it's just another form of #95 and #96 issues. It would be nice if you'll check it on the back-end side. I'll add custom deserializer for the `OrderType` enum - it will treat all "unknown" types as sell orders. It will prevent us from seeing such strange exceptions in the future.

[2019-12-28 16:03] pratttrader commented on #161
Yes, this is the same issue.  Are you in touch with ALPACA directly, or do just you go off the API documentation?  It would be nice if they did a BUY_OPEN, SELL_OPEN, BUY_CLOSE, SELL_CLOSE...that would cover everything.  Or maybe did a OrderAction {Open, Close} and then the OrderSide {Buy, Sell}.  But just having Buy, Sell is not very precise or helpful.

[2019-12-28 16:13] OlegRa commented on #161
@pratttrader I have contacts with Alpaca guys but I'm unable to control the development of back-end features. I suggest you writing proposal on the official Alpaca site for your idea and explain the limitations of the current solution in detail.

I'm working on the proper fix for this issue right now and will publish updated packages on NuGet soon.

[2019-12-28 16:21] pratttrader commented on #161
I just posted an issue on their support page for this.

[2019-12-28 17:34] OlegRa commented on #159
@pratttrader You can test fix in package version [3.4.2](https://www.nuget.org/packages/Alpaca.Markets/3.4.2) available on NuGet (or you can use [3.3.7](https://www.nuget.org/packages/Alpaca.Markets/3.3.7) if you still rely on 3.3.x stream).

I've fixed (I hope) problem with the activities type list in `ListAccountActivitiesAsync` method - you can try to pass a list of activities types into this m

[2019-12-28 17:34] OlegRa commented on #161
@pratttrader You can test fix in package version [3.4.2](https://www.nuget.org/packages/Alpaca.Markets/3.4.2) available on NuGet (or you can use [3.3.7](https://www.nuget.org/packages/Alpaca.Markets/3.3.7) if you still rely on 3.3.x stream).

[2019-12-30 17:00] pratttrader commented on #161
I'm still getting this exception when doing short sale...when requesting AccountActivity w/ 3.4.3:
{"Error converting value ""sell_short"" to type 'System.Nullable`1[Alpaca.Markets.OrderSide]'. Path '[1].side', line 1, position 440."}.

ALPACA really needs to fix this.

[2019-12-31 15:59] OlegRa commented on #161
Unfortunately, I'm unable to fix it right now. I'll check this problem as soon as I return back to home from my New Year trip. @pratttrader If you will send me a full exception stack it would be very helpful.

[2019-12-31 17:19] pratttrader commented on #161
That's cool.  It's no hurry...just an FYI.
[exception.txt](https://github.com/alpacahq/alpaca-trade-api-csharp/files/4013177/exception.txt)

[2020-01-03 17:40] OlegRa commented on #159
@pratttrader Could you please close this issue if the problem was fixed.

[2020-01-03 18:22] OlegRa commented on #161
@pratttrader This problem should be fixed in version [3.4.4](https://www.nuget.org/packages/Alpaca.Markets/3.4.4) available on NuGet. Please, test and close if the problem was fixed.

[2020-01-03 20:58] pratttrader commented on #159
good

[2020-01-03 20:58] #159 closed

[2020-01-07 20:15] #161 closed

[2020-01-08 01:10] pratttrader opened #162 "SockClient Authentication"
I'm new to Alpaca, testing the platform for potential use...moving from a different broker.  I'm not new to .NET programming.

I didn't really read ALL of the documentation prior to testing, but apparently I've been using v1 of the API because my URL didn't include "/v2".  At least that's how I read it.

Using the URL with "/v2"...the SockClient hangs when calling .ConnectAndAuthenticate().Wait().

[2020-01-08 14:27] OlegRa commented on #162
@pratttrader Could you please provide the exact address that you use for SockClient initialization? You can use Alpaca streaming for any account type and Polygon streaming only for brokerage accounts. In general, you shouldn't specify the API version number in URLs - there is a special argument in RestClient constructor for this task. You can use the address provided in usage examples application

[2020-01-08 14:28] #106 closed

[2020-01-08 14:28] #155 closed

[2020-01-08 14:33] OlegRa commented on #93
@umitanuki @ttt733 Guys, could you please check my previous message? It would be nice to have online documentation for .NET SDK API and later extend it with some samples/tutorials pages.

[2020-01-08 15:09] pratttrader commented on #162
per Alpaca's specifications:  "The endpoint host name will be the same as v1 (api.alpaca.markets/paper-api.alpaca.markets) but with different path (“/v2”)."....so I use "https://paper-api.alpaca.markets/v2/".  I don't use Polygon, so this is only for order updates.  But I can't even get to that point, process hangs at

  alpacaSock = new SockClient(ALPACA_Key, ALPACA_Secret, ALPACA_URL);

 alpacaS

[2020-01-08 16:24] pratttrader commented on #162
As I think about it more, some background might help.   I have a desktop application.  Yesterday I was reading online info from ALPACA and saw the text about using "/v2/" on the URL which I didn't see before.  So I changed my URL to conform.  The Sock streaming stopped working totally.  Orders were going in and getting executed via REST, but the order stream was dead.  So then I started poking aro

[2020-01-08 18:13] OlegRa commented on #162
OK. First thing first: you shouldn't specify API version in any URL used by .NET SDK - the base address is enough information for proper client configuration. By default `RestClient` works with version 2 of API and additional constructor parameter allows you to specify old API version (not recommended).

For `SockClient` class you should also use only base path URL without any version number or `/

[2020-01-08 18:15] OlegRa commented on #162
And now about the difference between `ConnectAsync` and `ConnectAndAuthenticateAsync` methods of `SockClient` class: second one just call the first one and wait for the `Authenticated` event. So if you specify incorrect endpoint returned task will never be completed.

[2020-01-08 18:25] OlegRa opened #163 "Add support for watch lists related endpoints"
Aplaca REST API provides now [bunch of endpoints](https://docs.alpaca.markets/api-documentation/api-v2/watchlist/#watchlist-entity) for dealing with watch lists. We should add support for these endpoints into this SDK.

[2020-01-08 19:44] pratttrader commented on #162
Part 1: excellent; thanks for the clarification.

Part 2: looking at SockClientBase class, I figured that out.

So it's adding the "/v2" to the URL that's causing both.

Thanks for the help, and the great work on this.

[2020-01-08 19:44] pratttrader commented on #162
closed

[2020-01-08 19:44] #162 closed

[2020-01-15 17:08] OlegRa commented on #163
Included into releases [3.4.5](https://www.nuget.org/packages/Alpaca.Markets/3.4.5) and [3.3.10](https://www.nuget.org/packages/Alpaca.Markets/3.3.10) available on NuGet.

[2020-01-15 17:08] #163 closed

[2020-01-15 17:16] thi517 opened #164 "Error after update to 3.5.0-alpha4"
I was working with 3.5.0-alpha3 then got error after update.

System.AggregateException: One or more errors occurred. ---> System.Net.Http.HttpRequestException: Response status code does not indicate success: 404 (Not Found).
   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   at Alpaca.Markets.RateThrottler.CheckHttpResponse(HttpResponseMessage response)
   at Alpaca.Markets.Re

[2020-01-16 00:13] OlegRa commented on #164
@thi517 Could you please provide full exception stack and (ideally minimal code snippet for reproducing this problem)?

[2020-01-17 14:09] #158 closed

[2020-01-18 11:59] OlegRa opened #165 "Change staging environment handling"
The current version of the SDK contains some code for special 'staging' environment handling but this environment never used by real customers and all specific handlings can be done outside of SDK and it will make library API more manageable.

[2020-01-18 14:08] DarioVonaesch commented on #164
I'm getting the same when just running the provided samples!.

[2020-01-18 14:51] OlegRa commented on #164
@thi517 @SteveHaudegen Could you please, guys, check the latest version [3.5.0-beta2](https://www.nuget.org/packages/Alpaca.Markets/3.5.0-beta2) - it should work better (but don't forget - next trading day is Tuesday, January 21).

[2020-01-18 14:52] #165 closed

[2020-01-18 16:54] SteveHaudegen commented on #164
Works now! Thank you for the swift fix!

[2020-01-22 20:23] ghost opened #166 "JsonSerializationException: Required property 'db_latency'"
When calling `PolygonDataClient.ListMinuteAggregatesAsync` I get following error.

`Newtonsoft.Json.JsonSerializationException: Required property 'db_latency' not found in JSON.`

This appears to be a required property of JsonHistoricalItems, which I believe is used to try to parse the JSON response from the Plygon Aggregates endpoint, which, returns no "db_latency" property in its JSON response.

[2020-01-22 20:53] scyentyfyc commented on #166
Sorry, I used the wrong account to post this question, so I ghosted that account.  I'm the one that posted this.

[2020-01-22 22:25] OlegRa opened #167 "Update Wiki with new classes"
Current Wiki documentation is obsolete and has to be updated. This is a good step forward for future web-based documentation developed in scope of issue #93 (documentation generated from XML comments and markdown files and hosted on GitHub Pages).

[2020-01-22 22:48] OlegRa commented on #166
@scyentyfyc Try to use the 3rd beta of 3.5.0 version available on NuGet. If the problem is resolved, please, close this issue.

[2020-01-22 22:49] #164 closed

[2020-01-23 00:58] scyentyfyc commented on #166
Perfect.  Thanks so much for the quick turnaround!

[2020-01-25 02:25] scyentyfyc opened #168 "PolygonStreamingClient Error: System.InvalidOperationException: Unknown connection status"
When running the below code snippet, I get the error `System.InvalidOperationException: Unknown connection status` coming out of the "OnError" event of the PolygonStreamingClient.  It happens after the subscription to MSFT.  If you take out the "Subscribe" line, you won't get the error.  I would just ignore it... but I think it feeds my next issue which is that after about 5 minutes of MSFT aggreg

[2020-01-25 09:55] OlegRa commented on #168
Hi Steve,

I'm unable to check this issue right now due to weekend but I'll do it ASAP Monday morning.

Socket closing after 5 minutes is an another issue. Please, report it separately and provide more information. Does it close with some exception or just silently stop working?

[2020-01-25 20:03] #166 closed

[2020-01-27 16:10] OlegRa commented on #168
I've checked issue with exception reported via `OnError` event - it's not critical and can be ignored. I'll fix this small issue in upcoming releases. I'm unable to reproduce a problem with web socket disconnection on my computer. Please, report it as a separate issue and provide more information about disconnection - error logs, exceptions, etc.

[2020-01-27 22:02] scyentyfyc commented on #168
Ok, thanks for the update.  Today, even with this bug (which I still get), everything continued to work fine, so you are right that the two issues must not have been related.  I am not going to submit another issue for the socket closing because I'm not convinced it is an issue yet... it may have been something in my own code.

[2020-01-28 13:09] #167 closed

[2020-01-28 13:27] OlegRa commented on #168
@scyentyfyc Please, test it using version [3.5.0](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.5.0) available on NuGet and close if the problem with `OnError` event disappeared.

[2020-01-30 02:03] scyentyfyc commented on #168
I reran the code from my original post that was previously failing, and it works now without error.  Thank you.

[2020-01-30 02:03] #168 closed

[2020-02-06 20:32] pratttrader opened #170 "OnTradeUpdate not stable"
I'm posting this here only because I'm using the C# API.  I'm not sure if my issues are with the ALPACA backend or with the AlpacaStreamingClient.

I've been having many instances where I place on order....PostOrderAsync returns an accepted order, the order shows up in the ALPACA web interface(so it's active), but nothing gets returned ever through OnTradeUpdate.  I have no way to debug this..so t

[2020-02-06 22:28] williamsderek opened #171 "AlpacaDataClient doesn't work: does not include secret key"
I'm pretty surprised, but just trying to get 1 minute quote data from the Alpaca data client won't work:
Message:
    Alpaca.Markets.RestClientErrorException : Unauthorized
      ----> Alpaca.Markets.RestClientErrorException : access key verification failed (Code = 40110000)
I'm including the API key, but there is no way to pass in the secret key, which is required to authenticate (tested with Pos

[2020-02-07 05:42] zhaizhe111 commented on #170
I have the same issue

[2020-02-07 15:53] OlegRa commented on #171
@williamsderek Fixed. You can test it in version [3.5.1](https://www.nuget.org/packages/Alpaca.Markets/3.5.1) available on NuGet. Please, check and close if problem solved.

[2020-02-07 18:56] OlegRa commented on #170
@pratttrader @zhaizhe111 - I've tried to reproduce this problem on my side but (as expected) without any success. Could you please provide me more information about this problem?

1. What is your target application is - is it a console app, Windows application, or web app (back-end)?
2. Which version of .NET do you use for your application? I need the exact version of the used runtime and the exac

[2020-02-07 19:14] pratttrader commented on #170
This is a Windows app, .NET 4.5 x86  running on Windows 64 bit.
I have not attached to those events...I was thinking about that though.  I will try that.
Earlier today, for about an hour, I couldn't even enter an order through PostOrderAsync...it would return nothing...it must have been on their end, because it started working again.  I posted a comment on their forum.
I'll wire up a handler for S

[2020-02-07 19:17] OlegRa commented on #170
@pratttrader Of course, the main question is - that Alpaca environment do you use? Paper-only environment updated much often and as a result, you can experience 'strange' API behavior often.

[2020-02-07 19:24] pratttrader commented on #170
yes, this is paper only..

[2020-02-07 22:51] pratttrader commented on #170
So should the DisconnectAsync() method raise the SocketClosed Event?  To test my change, what should I use to "close" the socket?  The only thing I see is DisconnectAsync, and that's not raising the SocketClosed Event.

[2020-02-08 15:07] OlegRa commented on #170
The `DisconnectAsync` call will not trigger the `SocketClosed` event - this event will be triggered by the underlying web socket component only in case of 'unexpected' disconnections. For example, if a web socket connection will be interrupted by a server or as a result of generic network failure. If you close connection from the client you know that it's closed and there is no reason to report it

[2020-02-09 11:37] #138 closed

[2020-02-09 11:43] OlegRa commented on #93
@ttt733 Trevor, could you please enable GitHub pages for this repository? I think it would be very helpful to have the online version of XML documentation for our users.

[2020-02-09 19:18] pratttrader commented on #170
I'm trying to add my own auto-reconnect function in my application, using what is available to me from Alpaca.Markets.  A streaming connection is useless if doesn't at least try to self-correct when the socket is broken for whatever reason.  The idea I have is like other brokers do it where it tries to reconnect, say 10x, every 4 seconds and then just stop...assuming that the socket/network connec

[2020-02-10 09:58] OlegRa commented on #170
@pratttrader I'm sorry for your disappointments but unfortunately, the problem is not in Alpaca SDK itself and I don't know how to fix it easily right now.

We use WebSocket4Net library for all web socket communications in Alpaca SDK and according to their issue tracker, this library has a problem with re-connection logic (see details [here](https://github.com/kerryjiang/WebSocket4Net/issues/99)).

[2020-02-10 16:17] pratttrader commented on #170
Thanks for the reply.  I'm not disappointed because this is what I do.

I currently use another broker and before I move everything to ALPACA I just need to test everything from a trading perspective and a technology perspective.

I'm not asking for an implementation of logic because in my view, that's my responsibliity.  I was pointing out that I'm getting "Socket Connected", when it's not...whic

[2020-02-10 16:18] #170 closed

[2020-02-13 13:35] OlegRa commented on #93
I've enabled GitHub Pages on my own fork of this repo. You can check [how it looks like](https://olegra.github.io/alpaca-trade-api-csharp/api/) now.

[2020-02-13 16:42] OlegRa commented on #160
The only place where we can use it now is `RateThrottler` class so it has no sense to introduce this breaking change only for this small singleton class.

[2020-02-13 16:42] #160 closed

[2020-02-17 16:23] OlegRa commented on #137
After trying different approaches I've figured out that all possible scenarios can be easily implemented using existing API. I'll place this on hold and will implement it only if it will be upvoted by real users.

[2020-02-17 17:00] OlegRa opened #174 "Add support for ClientWebSocket class"
.NET Framework (and .NET Standard/Core) contains built-in ClientWebSocket class which provides all required functions required by our streaming clients. We can add support for this class into our IWebSocketFactory interface and later switch to this implementation by default for reducing the number of dependencies.

[2020-02-17 17:24] OlegRa commented on #144
Another idea that I prefer to put on hold until I'll see real users upvoted for it. The current implementation for REST API endpoints (returns `IReadonlyList<T>') looks more useful. This new interface (`IAsyncEnumerable<T>`) can potentially be used for streaming classes but it's not easy to implement it properly without writing complex (and potentially error-prone) pub-sub code.

[2020-02-21 00:32] jcjurevis opened #177 "Added Hourly Aggregated Async?"
Hello, I was hoping to receive hourly candle data from Polygon and I noticed on their api doc it was a simple change in the path. Would you mind if added a new public task ListHourlyAggregatesAsync with the path containing "hour". This way users can pull minute, hour, and daily candle information from Polygon?

Currently, the PolygonDataClient file in the repository contains two public Tasks of “L

[2020-02-21 10:22] OlegRa commented on #177
@jcjurevis Thanks a lot for this issue and related PR. I'll review it soon. We have issue #141 and in the scope of this task I'll merge all aggregates-related methods into single one but right now I'm OK with this approach.

[2020-02-27 23:52] OlegRa commented on #177
Merged manually (w/o formal PR merge) and available in the version [3.5.3](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.5.3) now. Please, test and close if all works as expected.

[2020-02-27 23:53] OlegRa commented on #171
Close it due to no activity for a long time. If the problem still exists, feel free to re-open this issue.

[2020-02-27 23:53] #171 closed

[2020-02-27 23:55] OlegRa opened #178 "Add support for MsgPack into Alpaca streaming"
Alpaca streaming service supports the MsgPack message serialization method. We can add optional support for this format into our SDK but not all available packages support all our .NET targets.

[2020-02-27 23:59] OlegRa commented on #178
There are two main MsgPack implementations for .NET:

- https://github.com/neuecc/MessagePack-CSharp
- https://github.com/msgpack/msgpack-cli

Each one has some procs and cons and we need some tests for selecting a single one that fits best for this SDK.

[2020-02-28 00:21] williamsderek commented on #171
Sorry for not closing it. 3.5.1 fixed the issue for me after I upgraded to the latest NuGet package and I didn't think about it after that.

[2020-02-28 00:37] OlegRa commented on #174
There are two good wrappers for ClientWebSocket class available on GitHub:

- https://gist.github.com/xamlmonkey/4737291
- https://github.com/dotnet/aspnetcore/blob/master/src/SignalR/clients/csharp/Http.Connections.Client/src/Internal/WebSocketsTransport.cs

I prefer the second one but it depends on `Threading.Pipeline` package and requires lot of changes for adopting to current `IWebSocket` inte

[2020-03-02 07:48] OlegRa opened #181 "Some changes in CI/CD scripts"
Current build scripts work well but we need some improvements (mostly affect forked repos):

- [x] Prevent NuGet-related actions run in forked repositories
- [x] Queue builds - prevent too many parallel running tasks

[2020-03-04 16:05] #181 closed

[2020-03-04 16:06] #93 closed

[2020-03-04 16:11] OlegRa commented on #145
We have too many features in our deserialization code which heavily depends on JSON.NET library features and now I don't see any real reason for rewriting all this stuff using a new library. I'll not close it but now it has no fixed milestone. If someone will do it or provide real reason why should we implement it I can return back to this task.

[2020-03-05 19:03] williamsderek opened #182 "Enhancement Request: Trading Client: Specific Exception Types"
Hi,

Would it be possible to add specific exception types to this package?
For example: Let's say I run a screen and one  of the results is symbol=HEI-A.
I then run GetAssetAsync to determine if this asset is actually tradeable before acting on the asset.
However, instead of getting a result that includes the asset and indicates that it isn't tradeable, AlpacaTradingClient.General.cs produces a 40

[2020-03-05 23:09] OlegRa commented on #182
@williamsderek It was part of the original design of SDK but unfortunately, after implementing throttling support on the client-side this feature was broken. I'll fix it in the upcoming release. Thanks a lot for pointing on this problem!

[2020-03-05 23:36] OlegRa commented on #182
@williamsderek You can test it in the version [3.5.4](https://www.nuget.org/packages/Alpaca.Markets/3.5.4) available on NuGet. Please, close this issue if the problem fixed in this release.

[2020-03-06 04:17] williamsderek commented on #182
Thanks, I think this will do the trick. Now I just need to catch RestClientErrorException instead of Exception in order to get the ErrorCode.

[2020-03-06 04:17] #182 closed

[2020-03-07 00:11] OlegRa commented on #177
@jcjurevis I'll close this issue right now. If you still have problems related to this method - feel free to re-open this issue and provide more details.

[2020-03-07 00:11] #177 closed

[2020-03-11 13:21] OlegRa opened #184 "Add more client-side validations for requests"
In the scope of issue #141 implementation, we've introduced a new mechanism for validating input data for REST endpoints. Right now this validation contains only basic checks but we can review REST documentation and add more client-side verifications. This will prevent invalid REST calls and reduce the server workload.

[2020-03-11 13:36] OlegRa opened #185 "Implement more simple date/time intervals handling"
Currently, in the SDK we have several places where date/time intervals are created in REST requests. We should think about the possible unification of all these cases - it would be better to have a separate class like `TimeInterval' that will encapsulate all logic for open/closed, inclusive/exclusive time intervals with proper validation.

[2020-03-16 07:08] #141 closed

[2020-03-19 23:00] gsalaz98 opened #186 "PolygonDataClientConfiguration constructor defaults to wrong endpoint"
In `PolygonDataClientConfiguration`, the parameterless constructor uses `Environments.Live.AlpacaDataApi` for its endpoint, when it should actually be `Environments.Live.PolygonDataApi`: https://github.com/alpacahq/alpaca-trade-api-csharp/blob/6dc4a363e8871de1e85109730f5d0a9460ecda52/Alpaca.Markets/Parameters/PolygonDataClientConfiguration.cs#L16

Attempts to use the `PolygonDataClient` with the `

[2020-03-20 18:28] OlegRa commented on #186
@gsalaz98 Please, test the fix in version [3.5.6](https://www.nuget.org/packages/Alpaca.Markets/3.5.6) available on NuGet and close if the problem was solved.

[2020-03-21 04:34] gsalaz98 commented on #186
Thank you, the issue has been resolved.

[2020-03-21 04:34] #186 closed

[2020-03-22 12:56] OlegRa opened #188 "Run PVS Studio check as part of CI/CD"
Analyze the possibility to run a PVS Studio static analyzer in the scope of existing (or separate) CI/CD pipeline.

[2020-03-23 01:30] kwcoffee1 opened #189 "3.6 beta compiler error"
When I compiling Alpaca.Market out-of-box, I get the following two errors:

For Helpers:ActionExtensions.cs Error CS8604
Possible null reference argument for parameter 'obj' in 'void Action<TApi>.Invoke(TApi obj)'.	Alpaca.Markets (net45), Alpaca.Markets (netstandard1.3), Alpaca.Markets (netstandard2.0), Alpaca.Markets (netstandard2.1) ...\Alpaca.Markets\Helpers\ActionExtensions.cs 13 Active

AND E

[2020-03-23 07:24] OlegRa commented on #189
@kwcoffee1 Unfortunately, I'm unable to reproduce this problem on my side using the latest VS 2019 and .NET Framework / .NET Core SDKs. And I don't see such a problem in GitHub CI/CD logs.

Could you please provide more information about your environment? What are your OS/VS/.NET SDK versions? If you'll provide full build output it also will be very helpful for investigating this issue.

[2020-03-23 07:54] OlegRa commented on #189
@kwcoffee1 Reproduced on my side after installing all the latest VS updates. Still not reproduced on the GitHub CI/CD. I'll check it ASAP.

[2020-03-23 08:30] OlegRa commented on #189
Fixed in the `development` branch. GitHub CI/CD scripts updated.

@kwcoffee1 Please, test on your side and close if the problem is solved.

[2020-03-24 08:42] OlegRa opened #190 "Update Alpaca documentation"
As part of the 3.6.0 SDK release process, we have to update Alpaca online documentation which contains C# examples now.

[2020-03-27 02:32] kwcoffee1 opened #192 "ListAggregatesAsync Json failure"
In file: PolygonDataClient.cs(Line 168)

        public Task<IHistoricalItems<IAgg>> ListAggregatesAsync(
            AggregatesRequest request,
            CancellationToken cancellationToken = default)
        {
           …….
            return _httpClient.GetSingleObjectAsync
                <IHistoricalItems<IAgg>, JsonHistoricalItems<IAgg, JsonMinuteAgg>>( // line 168
                    Fak

[2020-03-27 02:56] kwcoffee1 commented on #192
A screen snapshot
![Picture0001](https://user-images.githubusercontent.com/13096086/77716609-969ab200-6fac-11ea-80c3-db3e7e6119e2.png)

[2020-03-27 04:00] scyentyfyc commented on #192
I just started getting this too, and I wasn't getting it before.  I hadn't upgraded since 3.5.0, so I'm wondering if Polygon changed something.  Definitely no "code" in Polygon's documentation on what gets returned from the Aggregates call.

[2020-03-27 12:19] OlegRa commented on #192
@kwcoffee1 @scyentyfyc Could you please provide a minimal example that reproduces this problem. I've checked the code and I see that root cause is not in Polygon normal response parsing but instead in error response parsing. Unfortunately, I'm unable to reproduce this issue on my side - the possible root cause may be in input data that SDK sends to Polygon.io REST endpoint.

[2020-03-28 00:26] kwcoffee1 commented on #192
I created simple demo console app with my Alpaca key:
`
using System;

using Alpaca.Markets;

namespace PolygonTest
{
    class Program
    {
        const string API_KEY = "YOUR ALPACA KEY";

        public static void Main()
        {
            DateTime FromDate = DateTime.Now.AddYears(-1);
            DateTime ToDate = DateTime.Now;
            string Symbol = "SPY";

            var polyData

[2020-03-28 02:39] scyentyfyc commented on #192
I'm going to take myself out of this.  I think my issue may have been something different that I was causing that just happened to coincide with this.

[2020-03-28 03:25] kwcoffee1 commented on #192
It looks like you are throwing an exception on a successful read in file HttpClientExtensions.cs:

![Picture0002](https://user-images.githubusercontent.com/13096086/77813797-640abb00-7079-11ea-9235-81380091b5c1.png)

[2020-03-28 04:19] kwcoffee1 commented on #192
Sorry, I found the cause of the issue:
Some how ( I or the download) changed the property In file JsonHistoricalItems.cs line 47:

from: [JsonProperty(PropertyName = "db_latency", Required = Required.Default)]
To:   [JsonProperty(PropertyName = "db_latency", Required = Required.Always)]

So, I changed it back to Required.Default.

Thank you,

Please close this issue.

[2020-03-28 08:38] #192 closed

[2020-04-06 17:15] #189 closed

[2020-04-07 00:35] williamsderek opened #193 "Explicitly mark all DateTime properties with the Utc suffix"
The latest preview of the C# SDK has a JsonCalendar object that wraps the API results for the calendar endpoint, but it converts the date/time values from EST to UTC and neither the properties nor their tool tips indicate that the source values are being converted from EST to UTC. If a developer looks at the return values in Postman, s/he would assume that the dates are EST. If you are going to co

[2020-04-07 07:45] OlegRa commented on #193
I've thought about this issue for a while and right now I want to keep all things untouched (as is) and I'll try to explain why.

Since the first release of this SDK, I've worked hard to keep all date-time data in-sync across the whole SDK. Different REST API endpoints return date-time values in different formats (JSON dates, Unix timestamps in seconds/milliseconds) and different time zones (UTC/E

[2020-04-07 11:28] OlegRa commented on #190
Waiting for merging [PR](https://github.com/alpacahq/user-docs/pull/78) in the separate repo.

[2020-04-07 11:28] #190 closed

[2020-04-07 11:31] #156 closed

[2020-04-07 16:06] williamsderek commented on #193
Considering the circumstances you describe, I think it would probably be enough to just properly document the properties (XML comments) for DateTime member especially to indicate UTC across the project so that tooltips will consistently show the pattern to users. It is sort of odd that since the SDK appears to be oriented around the US markets based on the fact that the calendar object only return

[2020-04-11 12:49] FranMaher opened #194 "Aggregate Query Error"
I am trying to request aggregate data with the latest API version using .NET 4.8
Could not create an instance of type Alpaca.Markets.JsonHistoricalItems`2[Alpaca.Markets.IAgg,Alpaca.Markets.JsonPolygonAgg]. Type is an interface or abstract class and cannot be instantiated. Path 'ticker', line 1, position 10.

[2020-04-11 17:13] OlegRa commented on #194
@FranMaher You should never treat the `develop` branch as 'latest API version' - it's just a 'work in progress' and mostly unstable and possibly not working development experiments area. It's especially true right after merging from this branch into the `master` branch in the scope of the official public release process.
I recommend you consuming this SDK in the form of the NuGet package instead o

[2020-04-11 17:14] OlegRa commented on #194
@FranMaher Please, pull updated sources, test and close if the problem fixed.

[2020-04-13 14:52] FranMaher commented on #194
Ok, I'll use NuGet know that I know.  I was directed to the development branch when I clicked on the C# API link provided by the Alpaca website.

[2020-04-14 22:23] #194 closed

[2020-04-16 01:02] camerontbelt opened #195 "Bracket Orders"
https://alpaca.markets/docs/trading-on-alpaca/orders/

I'm trying to understand how to use the Alpaca.Markets library to place a bracket order.

[2020-04-16 01:25] camerontbelt opened #196 "Readme tutorial does not work"
I followed the readme to get started and had an issue with Alpaca.Markets.Environment.Paper. Paper could not be found.

I am on 3.6.1 with a .net 3.0 console app.

[2020-04-16 14:20] OlegRa commented on #196
@camerontbelt Read it carefully - you should use the `Environments` instead of `Environment` (as it properly stated in the `README.md` file.

[2020-04-16 14:25] OlegRa commented on #195
@camerontbelt I'll prepare C# example for bracket orders and will publish it here and on official [HowTo](https://alpaca.markets/docs/api-documentation/how-to/orders/) page.

[2020-04-16 18:39] camerontbelt commented on #196
@OlegRa sorry that was a misspelling on my part, I copied and pasted the code from the example in the readme and it highlighted paper red, not underlined. I’m not sure what else I can do. I notice too there are no tests of any kind that might help illuminate how all this works.

[2020-04-16 18:44] aliasgharrajabi opened #197 "ListHistoricalTradesAsync function in Alpaca.Markets/PolygonDataClient.cs doesn't work"
I have been trying to fetch historical trades into my algorithm using Alpaca.Markets/PolygonDataClient.cs and it looks like it returns no value.
Has anyone come across the same issue?

[2020-04-16 19:32] OlegRa commented on #196
What IDE do you use? Have you added the `Alpaca.Markets` NuGet package into the project? What is your OS (I've never tested it on MacOS for instance)?

In fact, you can see more examples available in different places:

This repo - [UsageExamples](../tree/develop/UsageExamples) project
Unit tests repo - [Alpaca.Market.Tests](https://github.com/OlegRa/Alpaca.Markets.Tests)
AlpacaDOCS - [HowTo](https

[2020-04-16 19:35] OlegRa commented on #197
@aliasgharrajabi Could you please provide minimal code example which reproduces this problem? I assume that you use the stable 3.6.1 version of SDK via NuGet and you have a trading account (not paper one) because the paper accounts have no Polygon.io connectivity.

[2020-04-16 23:05] camerontbelt commented on #196
@OlegRa visual studio on windows 10, latest version of both. And yes I have the nuget package installed in the project.

[2020-04-17 00:51] aliasgharrajabi commented on #197
Thanks a lot @OlegRa for following up so quickly.
Well I am using QuantConnect and they have recently updated Alpaca SDK.
I also have a funded live trading account and the result is the same on both live and paper account.
To be more specific, when [this line](https://github.com/QuantConnect/Lean/blob/master/Brokerages/Alpaca/AlpacaBrokerage.Utility.cs#L288)  gets executed, it calls [ListHistorica

[2020-04-17 08:38] OlegRa commented on #197
@aliasgharrajabi I've checked the QuantConnect/Lean repo and looks like 28 days ago it was [updated](https://github.com/QuantConnect/Lean/pull/4195) with close-to-latest sources from this repo (thanks to @gsalaz98). In any case if you have troubles with QuantConnect - open issues in their repo because they use this SDK in the form of source code porting not via NuGet and all issues should be addre

[2020-04-17 08:38] #197 closed

[2020-04-17 09:31] OlegRa commented on #196
@camerontbelt I've checked this scenario on my side and all works fine for me. I've even recorded
a short [screencast](https://file.io/rtnaqq9c) that demonstrates how it looks like on my VM with clean Win10/VS2019 for .NET Core 3.1 console application.

[2020-04-17 15:56] camerontbelt commented on #196
@OlegRa I closed all instances of visual studio then opened my solution again, and pasted in the README example and it works now. My instance of visual studio must have been in a weird state, I apologize.

[2020-04-17 15:56] #196 closed

[2020-04-18 12:57] OlegRa commented on #195
I'm not sure how long will it take to publish a full example on the HowTo page so I've decided to help you immediately.

For instance, the [breaket order example request](https://alpaca.markets/docs/trading-on-alpaca/orders/) provided in help:
[code]
Translates to the next C# call:
[code]
I assume that you already have the `client` variable created by the 'GetAlpacaTradingClient` method call.

[2020-04-18 12:59] OlegRa commented on #195
@camerontbelt Most probably I'll change the `NewOrderRequest` class a little bit in the future release and the resulting code will look more similar to original JS requestion but the provided code should work fine in the 3.6.x versions of the SDK.

I'll close this issue now. If you need more clarifications - re-open it but I hope you've got a point.

[2020-04-18 12:59] #195 closed

[2020-04-18 15:45] pratttrader opened #198 "No Client OrderId?"
So I'm upgrading from 3.5.5 to 3.6.1 and you've moved to using NewOrderRequest with PostOrderAsync.  But I notice that you don't have a parameter for a user supplied client orderId and instead you're returning the auto-generated orderId.  Is this on purpose?    Am I missing something here?  Also, I see there is an overloaded version of PostOrderAsync...is that just the deprecated version where all

[2020-04-18 15:48] pratttrader commented on #198
Nevermind...I got my answers.

[2020-04-18 16:10] pratttrader commented on #198
So I guess my updated question would be: is there an architectural reason why you didn't include more optional parameters in the constructor of NewOrderRequest() for all additional properties beyond .duration?  It seems quite a few people create their own orderId on the client side and pass to Alpaca, so having ClientOrderId would be a nice addition, but not a game breaker.  But maybe there's a re

[2020-04-19 07:01] OlegRa commented on #198
@pratttrader The reason is simple. In most cases, you have mandatory and optional fields.

Mandatory fields configured via constructor because it's the simplest way for checking at compile time that users at least try to provide some values for these fields. I know that this check is not enough and that's a reason why we have validation for parameters passed into the constructor.

In previous vers

[2020-04-19 07:06] OlegRa commented on #198
@pratttrader And of course you can always use C# object initializers for creating the instance of `NewOrderRequest` object in this way:

[code]

[2020-04-19 15:22] pratttrader commented on #198
I guess when I design my classes I always put all mandatory and optional parameters in the constructor so I know what is available.  The only reason I knew that you had a ClientOrderId property available is because I dug through your class implementation and found it.  But obviously if the SDK is a fluid architecture, I understand your reasoning.   The reason I use my own Id is because before an o

[2020-04-19 15:22] #198 closed

[2020-04-22 17:45] cmansfield22 opened #200 "Alpaca.Markets.RestClientErrorException: 'Not Found' when using Paper Client"
**I have no issues when running with the Live client.**

When using GetAccountAsync(), i get a NOT FOUND exception
          Exception thrown: 'Alpaca.Markets.RestClientErrorException' in mscorlib.dll

**The code is simple and like i said it does work when i do the live account:**
alpacaTradingClient = Environments.Paper.GetAlpacaTradingClient(new SecretKey(API_KEY, API_SECRET));

// Get account t

[2020-04-22 17:50] cmansfield22 commented on #200
So i did not make the obvious realization that the paper account would have a different set of API keys. Sorry, i just had to create my paper account!

[2020-04-22 17:50] #200 closed

[2020-04-23 23:43] umitanuki opened #201 "Support nested=true for ListOrders"
https://alpaca.markets/docs/api-documentation/api-v2/orders/#get-a-list-of-orders

With OCO/bracket orders, this parameter is useful.

[2020-04-24 14:16] #201 closed

[2020-04-26 11:57] OlegRa opened #202 "Add support for updated Alpaca Data API"
The new announced Alpaca Data API update (in the beta status now) contains the next improvements:

- [x] The new [last trade](https://alpaca.markets/docs/api-documentation/api-v2/market-data/last-trade/) endpoint for the existing REST API
- [x] The new [last quote](https://alpaca.markets/docs/api-documentation/api-v2/market-data/last-quote/) endpoint for the existing REST API
- [x] The totally new

[2020-04-27 17:07] adrianbegi commented on #195
The example provided above returns unprocessable entity for me and I can not get any bracket orders to work.

[2020-04-27 17:17] adrianbegi commented on #195
I believe because the take profit property is below the price. Got it working.

[2020-04-27 17:29] camerontbelt commented on #195
@adrianbegi Yea as of right now no one has any documentation on how to do this. I finally got it working through trial and error. I also noticed you have to use a Market order type as well, and the stop price needs to be above the limit price.

[2020-05-01 08:00] #188 closed

[2020-05-01 08:02] OlegRa commented on #137
This approach partially implemented in the new `AlpacaDataStreamingClient` class. Will return to this issue after collecting feedback from clients about using a new approach in real-world scenarios.

[2020-05-06 18:09] #202 closed

[2020-05-06 18:10] #184 closed

[2020-05-10 14:05] #185 closed

[2020-05-13 09:31] OlegRa opened #204 "Update Wiki pages with latest changes"
The Wiki pages for clients look very outdated. We have to:

- [x] Update instantiation examples (using the new `Environments` class)
- [ ] Add more usage examples for common scenarios (subscriptions, filtering, etc.)

[2020-05-15 19:29] OlegRa opened #207 "Add support for IHttpClientFactory"
This factory interface and its implementation are available via the NuGet package and very useful for ASP.NET Core based scenarios. We can easily add support for it using existing XXXConfiguration classes as we already did for the web socket clients.

[2020-05-15 19:36] OlegRa opened #208 "Change orders creation logic"
Right now the new order placement process is not very useful for new users. It's not clear how to properly configure orders and I think it would be better to add some factory methods for creating orders of all types in a more useful manner.

[2020-05-23 01:42] adrianbegi opened #209 "DeletePositonAsync returns a Task<bool> not an Order object as defined in the documentation."
In the following documentation https://alpaca.markets/docs/api-documentation/api-v2/positions/

DELETE/v2/positions/{symbol}

Response
An Order object

However in the current sdk it is.
public async Task<Boolean> DeletePositionAsync

[2020-05-23 01:44] adrianbegi opened #210 "Providing ClientOrderId for closing positions"
Is there anyway to supply a clientOrderId when calling DeletePositionAsync? We use custom clientOrderIds to keep track of strategies and there is no way to supply one when closing out a position. Would the only way be to just create a closing order for open position and not use that method?

[2020-05-23 01:49] adrianbegi opened #211 "Forbidden Exception is not returning full forbidden message/reason."
HttpClientExtensions.cs line 86 in the catch block. You have to also append the exception message if you want to see the forbidden reason.

`
            catch (Exception e)
            {
                response.ReasonPhrase += $":{e.Message}";
                throw new RestClientErrorException(response);
            }
`

[2020-05-23 09:56] OlegRa commented on #209
@OlegRa I'll fix it in the upcoming 3.7.0 release and (probably) will backport fix into the 3.6.x branch too.

[2020-05-23 10:03] OlegRa commented on #210
@adrianbegi I think it's technically possible on the server-side but it's out of my control. I suggest you ask this question on the Alpaca support forum or on Slack chat.

As a temporary solution, I can suggest you calling the `PatchOrderAsync` method using the `IOrder` object returned by updated version (#209 ) of the `DeletePositionAsync` method.

As soon as REST API will accept a newly proposed

[2020-05-23 10:03] #210 closed

[2020-05-23 10:07] OlegRa commented on #211
@adrianbegi I dislike idea with modifying original exception. I'll better pass it as a nested exception into the `RestClientException` object constructor. It will be more conforming to the CLR-recommended way for handling the exceptions.

[2020-05-23 10:38] OlegRa commented on #211
@adrianbegi I've checked how the `EnsureSuccessStatusCode` method of the `HttpResponseMessage' class generates the `HttpRequestException` and looks like the exception message just contains the localized explanation for exception plus the `ReasonPhrase` and `StatusCode` values.

The `RestClientErrorException` class provides the same data via the `Message` and `ErrorCode` properties. The catch block

[2020-05-23 13:10] OlegRa opened #212 "Continue HttpClientExtensions improvements"
Add more extension methods that help to write shorter implementations for POST/PUT/PATCH requests.

[2020-05-23 13:23] OlegRa opened #213 "Remove Alpaca v1 REST API support"
We still have v1 endpoints support (at least formally) in our SDK. We have to remove it and support only up-to-date endpoints.

[2020-05-23 15:42] OlegRa commented on #209
@adrianbegi You can test it in the [3.6.4](https://www.nuget.org/packages/Alpaca.Markets/3.6.4) release available on the NuGet. Please, check the newly added method and if all works fine close this issue.

[2020-05-23 15:42] OlegRa commented on #211
@adrianbegi You can test it in the [3.6.4](https://www.nuget.org/packages/Alpaca.Markets/3.6.4) release available on the NuGet. Please, check it and if all works as expected close this issue.

[2020-05-23 17:13] adrianbegi commented on #209
@OlegRa Thank you, I see the new method. I can do a final test on Tuesday when markets open.

[2020-05-23 17:19] adrianbegi commented on #211
@OlegRa Thank you for the quick fix. I agree it should be a nested exception, I just threw in a quick fix for my purposes. I have tested getting a forbidden and got a proper detailed message now.

[2020-05-23 17:19] #211 closed

[2020-05-26 08:31] #208 closed

[2020-05-26 08:33] #204 closed

[2020-05-27 15:09] adrianbegi commented on #209
@OlegRa  This has been tested. I will close the issue, thank you.

[2020-05-27 15:09] #209 closed

[2020-06-06 07:58] #213 closed

[2020-06-14 18:20] #212 closed

[2020-06-16 17:32] ooples commented on #23
I can help with creating a new tutorial if you want

[2020-06-16 18:02] OlegRa commented on #23
@ooples Unfortunately, I'm unable to provide you full access to Wiki but you can create a new .MD file in the root folder of this repo, write a tutorial, and make a pull request.

[2020-06-16 18:21] ooples commented on #23
Ok I will start working on it

On Tue, Jun 16, 2020 at 2:02 PM Oleg Rakhmatulin <notifications@github.com>
wrote:

[2020-06-19 14:36] samueldonovan1701 opened #216 "Polygon API not supported for Paper Environment"
When attempting to use `Alpaca.Markets.Environments.Paper.GetPolygonStreamingClient()` or `GetPolygonDataClient()` an error is thrown stating that Polygon API is not available for the Paper environment. This is probably due to `Alpaca.Markets.Environments.Paper.PolygonStreamingApi` being undefined.

This is likely in place due to the data is not being available to users who have not yet set up liv

[2020-06-19 20:14] OlegRa commented on #216
@samueldonovan1701 I want to explain to you my vision first and later I'll provide you options for solving your issue.

Which values do you suggest to provide for the `PolygonDataApi` and `PolygonStreamingApi` properties of the `PaperEnvironment` class? The proper URLs of the live environment? Of course, it will solve your problem but it will create unnecessary workload on Alpaca and Polygon serve

[2020-06-20 04:09] samueldonovan1701 commented on #216
@OlegRa I think you're reasoning here is sound, and I appreciate both your response and suggestions.

In retrospect, I think your "Fail Fast" approach here is a valid: While I recognized the fact that such a change would put a larger load on the servers, I didn't imagine it would be significant.
My initial, rather unmeditated concern stemmed from paranoia around an interface method being inherentl

[2020-06-20 04:09] #216 closed

[2020-06-23 03:13] jzderadicka opened #218 "PolygonDataClient Error 401 - Unauthorized"
Receive error unauthorized when using PolygonDataClient.

	[TestClass]
	public class Alpaca_Markets_PolygonDataClient
	{
		private const string id = "MY_LIVE_ID";
		private readonly PolygonDataClient polygonDataClient = Environments.Live.GetPolygonDataClient(id);

		[TestMethod]
		public async Task ListAggregatesAsync()
		{
			IHistoricalItems<IAgg> history = null;

			try
			{
				var aggregatesR

[2020-06-23 08:00] OlegRa commented on #218
@jzderadicka I've reproduced this problem on my side but the same code works fine if I provide normal Polygon.io API key (generated by Polygon). Looks like the root cause of this problem is on the server-side (authentication issue between Alpaca and Polygon).

[2020-06-23 08:20] OlegRa opened #219 "Change DateTime conversion logic"
The custom deserializers should be implemented for all date/time fields. We have several representations for date/time points and in each case, we use different approaches. It would be nice to unify all these things into single JSON converter for proper deserialization at the place.

[2020-06-24 08:54] #193 closed

[2020-06-25 14:10] OlegRa commented on #218
@umitanuki I'll close it in this case. @jzderadicka If you

[2020-06-25 14:10] #218 closed

[2020-07-07 12:20] mannok opened #221 "Is this API dead?"
The time now is 2020-07-07 UTC 12:19. I can't connect to the API through this SDK. Is the server dead?

[2020-07-07 13:05] OlegRa commented on #221
@mannok It's not a good place for asking such questions - I can answer only about SDK itself not about server availability. By the way, that API do you want to connect - Alpaca or Polygon, REST or streaming? It's hard to answer the question without details about a problem.

[2020-07-07 13:31] mannok commented on #221
@OlegRa Sorry for asking that in the wrong place.

I kept using this SDK for a month already, it is used to work fine.  However, it stuck at connection initialization just now.

[code]

p.s. it's fine for other connection. i.e. `await Environments.Live.GetAlpacaStreamingClient(new SecretKey("...", "..."))`

[2020-07-07 13:54] OlegRa commented on #221
@mannok I think it would be better to ask this question on Alpaca official support channels like a forum, email, or Slack. Most probably the root cause is on the server-side.

[2020-07-07 14:03] mannok commented on #221
Thank you so much @OlegRa

[2020-07-07 14:04] #221 closed

[2020-07-10 05:28] Huios opened #222 "Keeping DataStreamingClient WebScoket connection alive"
When using Alpaca.Markets.AlpacaDataStreamingClient to subscribe to a data stream, the websocket connection eventually closes after a while (due to the nature of the websocket protocol). If one needs to keep the connection alive, one way to get around this would be to send a heartbeat/ping the server. Is there an inbuilt way to do this?
In addition, is there a way to detect when a websocket connec

[2020-07-11 08:32] OlegRa commented on #222
@Huios The default WebSocket connector used by the SDK is WebSoket4Net and it by default sends/receives ping messages over the WS connection for preventing disconnections.

Most probably the root cause of your disconnections is something else. You can subscribe to the `OnError` event - some network-related errors are reported via this event.

If you want to implement your own reconnect logic just

[2020-07-11 14:24] #219 closed

[2020-07-17 19:04] Huios commented on #222
Thanks Oleg, that helps!

[2020-07-17 19:04] #222 closed

[2020-08-05 01:20] rudeGit opened #224 "Data streaming API issues with C# SDK (v 3.8.0-beta2)"
I have following C# code for Alpaca data streaming API (with SDK v3.8.0-beta2) and it seem to work sometimes with paper trading during market hours. But it is flaky. When I restart the code, it starts throwing AuthStatus.Unauthorized error. During off market hours, it never works. Is this the expected behavior for paper trading?

When I switch to **Live** trading by commenting the first line and u

[2020-08-05 16:08] rudeGit opened #225 "GetPosition reports incorrect percent values"
When I issued a market order for TQQQ with a quantity of 8 with my paper trading account:

The order seemed to have executed because the _tradingClient.GetPositionAsync(symbol); call succeeds and tells me that my current quantity for the symbol is 8. However when I logged into my alpaca account via browser, there is no trace of this position. What is going on here?

The _tradingClient.GetPositionA

[2020-08-07 13:12] OlegRa commented on #224
@rudeGit The Alpaca data API (both paper and live) doesn't work during off-market hours. I'm not sure about OAuth authentication support for Alpaca Data Streaming API - I've never tried it before. Ask Alpaca support about this scenario. And try to connect using key/secret pair on the live environment for checking connection status.

[2020-08-07 13:32] OlegRa commented on #225
@rudeGit I agree with you, maybe the current names can confuse SDK users but I prefer to keep it as is for several reasons:

- These values (`IntradayUnrealizedProfitLossPercent` and `UnrealizedProfitLossPercent`) are received from API and provided to the user unchanged and all other Alpaca SDKs do the same.
- Another important reason for keeping values as is - they can be easily formatted as a pe

[2020-08-07 13:32] #225 closed

[2020-08-07 15:49] rudeGit commented on #224
@OlegRa: I updated my code to use security key (for live account) for live trading data streaming. I just tried both paper and live trading data streaming during market hours. Both are now reporting Unauthorized. The paper environment used to work sometimes during market hours but now it does not work at all. Not sure what else should I try here. Any suggestions?

[2020-08-07 16:02] rudeGit opened #227 "Can you make all clients implement an interface for better testing?"
Currently AlpacaTradingClient, AlpacaDataClient, AlpacaDataStreamingClient classes are sealed and do not implement as interface. Can you make them implement as interface so that it is easier to test strategies? It is good that the return values of methods these clients implement already use interfaces. I think the missing piece is to have all the clients implement interface as well.

[2020-08-07 18:07] OlegRa commented on #224
@rudeGit Try to re-generate keys and set up some breakpoints in SDK code - NuGet should download sources and VS (full version not Code) should allow you to debug SDK line-by-line.

[2020-08-07 18:10] OlegRa commented on #227
@rudeGit That's a great idea! I can do it even without introducing the breaking changes (I hope) in 3.8 release.

[2020-08-07 19:49] OlegRa commented on #227
@rudeGit You can test it in the latest [3.8.0-beta3](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.8.0-beta3) release.

[2020-08-09 22:27] rudeGit commented on #227
@OlegRa Thank you for making the interface change. It is working great in the latest 3.8.0-beta3 release.

[2020-08-10 08:50] #227 closed

[2020-08-15 02:24] rudeGit commented on #224
@OlegRa I generated new keys and the live streaming is now working. Did the same with paper streaming as well, it magically started working too. Thanks for the suggestion.

[2020-08-15 17:50] #224 closed

[2020-08-24 07:52] OlegRa opened #229 "Add trailing stop orders support"
The trailing stop orders now supported by Alpaca only in beta mode but we can implement support for this feature in the upcoming 3.8.0 beta release for all participants of this beta program who uses this SDK.

[2020-08-26 07:51] #229 closed

[2020-08-31 19:28] OlegRa opened #231 "Update the official Alpaca HowTo examples"
The official Alpaca HowTo examples contain examples for several tasks implemented using different SDKs - JS/Go/C#/etc. Unfortunately, some examples miss C# editions and users can think that .NET SDK doesn't provide such functions.

[2020-09-08 14:07] Aps05 opened #232 "Not receiving Trade subscription messages on Paper account."
I'm trying to receive trade updates from my Paper Trading Account.
Project: .NET Core 3.1 Console Application
SDK: Alpaca.Markets v3.8.0

Authentication and subscription are both successful (I checked the connection and socket event callbacks and both get called). I verified that the socket stays open but I'm receiving no messages.

I'm using this API for the first time so forgive me if this is a

[2020-09-08 15:55] Aps05 commented on #232
Turns out the data is delayed and that's why I wasn't receiving messages when the market opened.

[2020-09-08 15:55] #232 closed

[2020-09-09 18:04] liftee opened #233 "Add Support for Blazor WebAssembly"
Add support to run Blazor client-side C# code directly in the browser, using WebAssembly.

[2020-09-10 14:40] OlegRa commented on #233
@liftee I'm not sure about streaming clients from this SDK - most probably they will not work properly in WASM mode.

[2020-09-13 11:31] #207 closed

[2020-09-14 20:13] ooples commented on #231
I'm working on updating the examples as we speak and I sent you an email with a few questions I had

[2020-09-15 15:37] OlegRa commented on #233
I've checked the simplest `GetClockAsync` API method usage and it works in the default Blazor VS template. There are my steps for testing it:

- Add `Alpaca.Markets` and `Alpaca.Markets.Extensions` NuGet packages (use version `3.9.0-alpha3` and later) into project
- Add the next call into the `Main` method of the Blazor application:
[code]
- Add the `@inject IAlpacaTradingClient client` directive

[2020-09-15 15:47] OlegRa commented on #233
@liftee Please, test other scenarios and open other issues if something will not work. If you'll have problems with initial SDK usage in Blazor WebAssembly - ask questions here. If you'll be able to connect to Alpaca REST API using the latest version of SDK from your client-side Blazor code using the suggested approach, please, close this issue.

[2020-09-17 17:39] #233 closed

[2020-09-18 21:44] ooples opened #234 "Feature Request: Allow a list of symbols for subscribe methods in Alpaca Data Streaming Client"
I would like to request the various subscribe methods in the alpaca data streaming client to match with the polygon data streaming client as in how they can accept a single symbol or a list of symbols.

[2020-09-19 18:06] liftee commented on #233
@OlegRa I was able to connect and display the simple Open/Close times with the directions above.

An exception is thrown when I try to wrap the clock in a function though.

`    public IClock GetClock(IAlpacaTradingClient AlpacaTradingClient)
    {
        IClock clock = AlpacaTradingClient.GetClockAsync().Result;
        return clock;
    }
`
Microsoft.AspNetCore.Components.WebAssembly.Rendering.

[2020-09-20 20:10] rudeGit opened #235 "Incorrect UTC time on the clock returned from Alpaca.Markets.AlpacaTradingClient.GetClockAsync()"
I am executing the following code (from Nuget library version 3.8.1) from mountain time zone on 9/20/2020 around 12:57PM (There is a 3 hour difference between mountain and easter time zones).

`var clock = Alpaca.Markets.AlpacaTradingClient.GetClockAsync();`

_clock.NextOpen 		=> Shows 9/21/2020 6:30:00 AM  (Deprecated)
clock.NextOpenUtc 	=> Shows 9/21/2020 6:30:00 AM_

The value in clock.NextOpen

[2020-09-21 13:00] OlegRa commented on #233
@liftee This is [expected behavior](https://github.com/dotnet/aspnetcore/issues/22400) for single-threaded implementation of CLR used in Blazor. How you can wait for something if you have only one thread? Just design your code in a truly async way and never use `Result` or `Wait` on `Task` objects directly.

[2020-09-21 18:33] OlegRa commented on #235
@rudeGit Could you please re-test this issue in the version [3.8.2](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.8.2) available also on NuGet. If the problem is resolved - please, close this issue.

[2020-09-22 00:34] rudeGit commented on #235
@OlegRa I tested with 3.8.2. The issue still remains as the problem is not fixed.

[2020-09-23 14:34] OlegRa commented on #235
@rudeGit Please, test the updated version [3.8.3](https://www.nuget.org/packages/Alpaca.Markets/3.8.3) - it should handle all time formats, used by API properly (I hope).

[2020-09-23 14:48] OlegRa commented on #234
@ooples Due to some internal design reasons I'm unable to add this feature directly into the `AlpacaDataStreamingClient` class. But I can implement it as set of extensions methods for the base `IAlpacaDataStreamingClient` interface. Please, try these methods in the latest [3.9.0-beta1](https://www.nuget.org/packages/Alpaca.Markets/3.9.0-beta1) version of SDK, and if they work as you expected I'll

[2020-09-23 20:33] ooples commented on #234
I tested out your new extension methods but it only seems to work for the first item in the list you pass it and it has slowed the feed to a crawl. I have sent you code so you can verify on your end.

[2020-09-24 05:43] rudeGit commented on #235
@OlegRa It is still not fixed in 3.8.3 version also. I still see following:

[code]

For comparison, see following:

[code]

[2020-09-24 08:49] OlegRa commented on #235
@rudeGit In fact, it works. Just check the result of the next code snippet:

[code]

on my box running in European Summer Time (UTC+2) I see the next results (I just add line feeds for readability):

[code]

As you can see the `TimestampUtc` value very close to my local time value (it's good). The `NextOpenUtc` and `NextCloseUtc` values also are also looking fine because trading session right now

[2020-09-24 09:19] OlegRa commented on #234
@ooples I've checked your (and my) code and I have some comments:

1. There is some implementation issue in my extension methods (and base class) - I will fix it in the upcoming release after testing.
2. Besides this implementation problem - it's not a good idea to subscribe to ALL active contracts for ALL possible events. At one hand - Alpaca streaming API limits the number of active quote and tr

[2020-09-24 14:07] OlegRa commented on #235
@rudeGit The same code running right now (trading session is opened) generates the next results:

[code]

As you can see the `NextOpenUtc` returns tomorrow date/time now (tomorrow session open time) but the `NextCloseUtc` still returns today date/time (current session close time).

[2020-09-24 19:11] ooples commented on #234
I look forward to the changes you make and I will test them for you when you are finished. My idea was to go with the max limit of what a normal user might do to push the api to it's limit and see what it could handle for testing. I didn't intend for my final example code to go to those extremes but it is handy to know about the GetMinuteAggSubscription without any arguments because I wasn't previ

[2020-09-25 06:58] rudeGit commented on #235
@OlegRa You are correct that problem was fixed in 3.8.3. My mistake was that I was hung up on the fact that both NextOpen and NextOpenUtc were returning the same value. What I failed to realize was that NextOpen property is irrelevant going forward (as it is marked obsolete) and I should only consider NextOpenUtc and that I need to call ToLocalTime method on it to get the local time.

Thank you fo

[2020-09-25 06:58] #235 closed

[2020-09-27 00:36] rudeGit opened #236 "How to gracefully recover from Bad Gateway (and other related errors)?"
I have encountered BadGateway in the middle of my live algo trading couple of times. I am currently using NuGet version 3.9.0-beta1 but when the error was countered I was using 3.8.1. Here is what I was doing.

1. I kick off my algo trading application with above nuget package on Saturday morning (when markets are closed). So it is basically awaiting the market to open (based on the sample code at

[2020-09-27 23:03] rudeGit commented on #236
Posted question about http status codes in Alpaca forums at https://forum.alpaca.markets/t/question-about-http-status-codes-503-and-429/2795

[2020-09-28 14:51] OlegRa commented on #236
@rudeGit First, I'll answer your questions about the `HttpClient` errors handling:

1. I don't know exactly why do you receive the HTTP 502 (Bad Gateway) error. In most cases, this error related to changes in the HTTP proxies chain or IP address of underlying API server changes. I strongly recommend you to use the `IHttpClientFactory` class for creating new instances of the `IHttpClient` class bec

[2020-09-28 15:48] OlegRa commented on #234
@ooples Please, try the version [3.9.0-beta2](https://www.nuget.org/packages/Alpaca.Markets/3.9.0-beta2) for updated multi-asset subscription teting.

[2020-09-28 18:28] rudeGit commented on #236
@OlegRa Interesting. I also looked at IThrottler implementation in the above link. Could you have benefitted from Polly library (https://github.com/App-vNext/Polly) for some of this code? Or was it too much to work with Polly for rate limiting stuff?

[2020-09-28 21:17] OlegRa commented on #236
@rudeGit Initial idea behind this SDK was to limit the number of dependencies as much as possible and it's the reason why this rate-limiting staff was implemented internally. It's not easy to add Polly library support into the existing solution without breaking the backward compatibility. I'll open a new issue and target it to the next major release - maybe it's a good time for using something mor

[2020-09-28 21:18] OlegRa opened #237 "Implement throttling using Polly library"
@OlegRa Interesting. I also looked at IThrottler implementation in the above link. Could you have benefitted from Polly library (https://github.com/App-vNext/Polly) for some of this code? Or was it too much to work with Polly for rate limiting stuff?

_Originally posted by @rudeGit in https://github.com/alpacahq/alpaca-trade-api-csharp/issues/236#issuecomment-700206149_

[2020-09-29 00:48] #236 closed

[2020-09-29 16:52] ooples commented on #234
The new version is working for the most part but there is a bug that I have found if you use the full active symbols list it closes the connection but if you take the first 100 symbols from that list for example it gives you a proper error message that you can only subscribe to a max of 30 symbols. I will send you the code so you can see for yourself

[2020-09-29 22:15] OlegRa commented on #234
@ooples I'm not sure that SDK should prevent ALL possible invalid use cases. Again, subscribing trades for ALL active instruments is a VERY bad idea in general and it doesn't matter how exactly the application will fail. Socket connection closed by the server-side due to the incoming message size limit hitting. I'll add some guards in the extension methods in the upcoming release but it will just

[2020-09-29 22:17] ooples opened #238 "URI Request too large"
I'm getting the following exception when running the following code:

Alpaca.Markets.RestClientErrorException
  HResult=0x80131500
  Message=Request-URI Too Large
  Source=Alpaca.Markets
  StackTrace:
   at Alpaca.Markets.HttpResponseMethodExtensions.<DeserializeAsync>d__0`2.MoveNext()
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at Alpaca.Markets.HttpResponseMethodExten

[2020-09-29 22:19] #234 closed

[2020-10-05 15:11] OlegRa commented on #238
@ooples Please, test it using the latest version [3.9.0-rc1](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.9.0-rc1) and close if the problem is fixed (client-side exception thrown without any REST calls).

[2020-10-05 15:31] ooples commented on #238
It works as expected now. Quick question, do you know the max requests you are allowed to make using the api?

[2020-10-06 12:28] OlegRa commented on #238
@ooples I don't know the exact values for per/minute or per/day request limits. I think you can ask Alpaca support (on the forum for example).

[2020-10-06 13:13] #238 closed

[2020-10-06 13:50] OlegRa commented on #231
The PR for Alpaca's official documentation project is [here](https://github.com/alpacahq/user-docs/pull/98). This issue will be closed as soon as this PR merged.

[2020-10-06 14:55] ooples commented on #144
How do I vote for this?

[2020-10-06 14:57] ooples opened #239 "Sockets keep closing randomly"
This has been a long standing issue I have had with this api but it seems to have been worse for me lately. I can't run the api for more than 5 minutes without the socket randomly closing on me with no errors or messages of any kind letting me know why it is happening. I have sent you the code I'm using so you can verify on your end.

[2020-10-06 15:50] zhorakiev opened #240 "Not working in IIS"
Hi, I all I am trying to do is execute paper trade in IIS, I have a virtual directory and in my razor page, index.cshtml I am running buy or sell signal on post or get, does not matter. Problem is, when I run it on localhost in debugging, orders are passing to Alpaca and showing up in Alpaca. When I load it in IIS (everything is properly set up), it is not executing orders and there no error... Ca

[2020-10-06 16:05] #240 closed

[2020-10-06 16:05] zhorakiev commented on #240
More errors

[2020-10-06 16:11] zhorakiev opened #241 ".NET Core IIS issue, need help ASAP"
I am just trying to capture the alert from the trading view chart and process the marketplace order. So I am using razor ASP.NET Core page. Everything is fine when I debug it in IIS express (localhost) in Visual Studio - https://prnt.sc/uu7ad3, but when I publish and run it in virtual directory in Windows IIS, it is not placing orders in Alpaca, same code....  So the code looks like that:

[code]

[2020-10-06 17:34] OlegRa commented on #144
@ooples I've added it back into the 4.0 release scope. This release will contain a lot of breaking changes anyway. But I'm not sure we can really implement it properly without async JSON deserialization support. Unfortunately, the JSON.NET library used for deserialization right now doesn't support such a feature so we have to add an alternative serialization layer first.

[2020-10-06 17:38] OlegRa commented on #145
We need this one for issue #144 (at least for the REST part of this issue).

[2020-10-06 17:48] OlegRa commented on #241
@zhorakiev I need more information about this issue:

- What is your target .NET and ASP.NET Core versions? What version of Alpaca .NET SDK do you use?
- What exactly happened in IIS mode - do you observe exception, or call just never completed, or returns unexpected result?
- Could you enable HTTP traffic logging for your application and check the raw request/response data for this REST call?

[2020-10-06 18:26] zhorakiev commented on #241
ASP.NET Core 3.1
So in the IIS express, while debugging, it works, I am able to send the order and Alpaca records it
When I deploy to windows, I post it into http://MYIP/corealpaca?NUMBEROFSHARES=61&TICKER=XOM&SIGNAL=BUY and keeping hardcoded values, just like in the example. I am not receiving any requests yet, I just hardcoded number of shares, ticker and buy signal on both post and get. Windows

[2020-10-06 18:33] zhorakiev commented on #241
in logging, requests are coming fine

#Software: Microsoft Internet Information Services 10.0
#Version: 1.0
#Date: 2020-10-06 18:32:13
#Fields: date time s-ip cs-method cs-uri-stem cs-uri-query s-port cs-username c-ip cs(User-Agent) cs(Referer) sc-status sc-substatus sc-win32-status time-taken
2020-10-06 18:32:13 MY IP POST /corealpaca NUMBEROFSHARES=10&TICKER=MSFT&SIGNAL=BUY 80 - 52.32.178.7 Go-h

[2020-10-06 19:49] zhorakiev commented on #241
OK I converted into framework 4.5 to make it easier, now when I go to the browser its, registering a sale, but for some reason its not working when alert system doing http post (webhook) to that same URL that's in my browser... Am I missing something?

  protected async void Page_Load(object sender, EventArgs e)
        {
            try
            {

                long lNumShares = long.Parse(

[2020-10-06 20:16] OlegRa commented on #241
@zhorakiev What does it mean 'it's not working when alert system doing HTTP POST'? Your browser request page using the GET command if you want to implement a POST command handler for the same route you have to do it separately.

AFAIU your issue is not related to SDK itself it's related to your ASP.NET application. If some requests not handled properly by ASP.NET configuration it's not a problem o

[2020-10-06 20:49] zhorakiev commented on #241
OK here it is, ASP.NET 4.5 its sending JSON post to that page, page is storing data in the database and same issue, it is not executing order - var order = await alpacaTradingClient.PostOrderAsync for some reason.

  protected async void Page_Load(object sender, EventArgs e)
        {
            Signal jsignal = new Signal();
            string s = string.Empty;
            string[] st;

[2020-10-06 20:55] zhorakiev commented on #241
I found solution in .NET framework 4.5... Not sure why later frameworks and .NET core did not place orders in Alpaca. Now at least I was able to make it work.

I wish you have another WEB project as part of the usage cases.

[2020-10-06 20:55] #241 closed

[2020-10-07 16:04] OlegRa commented on #239
@ooples Yesterday I was able to reproduce this issue but today all work fine for a long time.

Maybe my initial approach for delegating re-connection to SDK clients was wrong and it's better to handle such events automatically in SDK itself. Unfortunately, it's not a safe change and potentially can unstable current version. I'll add explicit ping sending parameters into the web socket handling obj

[2020-10-07 16:12] OlegRa opened #242 "Add web socket auto-reconnection logic"
@ooples Yesterday I was able to reproduce this issue but today all work fine for a long time.

Maybe my initial approach for delegating re-connection to SDK clients was wrong and it's better to handle such events automatically in SDK itself. Unfortunately, it's not a safe change and potentially can unstable current version. I'll add explicit ping sending parameters into the web socket handling obj

[2020-10-07 16:13] #231 closed

[2020-10-07 16:13] ooples commented on #239
When do you anticipate the release of version 4.0?

On Wed, Oct 7, 2020 at 12:04 PM Oleg Rakhmatulin <notifications@github.com>
wrote:

[2020-10-07 16:16] OlegRa commented on #239
@ooples ETA for the 4.0 final release is the end of this year. But I'll start working on this version as soon as I publish the final stable release of the 3.9.0 version.

[2020-10-08 10:33] shlomikushchi opened #243 "Add support for the alpaca-proxy-agent project"
The WebSocket connection is limited to 1 connection per account. For that exact purpose, this [project](https://github.com/shlomikushchi/alpaca-proxy-agent)  was created (follow README to learn more on how to run it locally)

Then, route the WebSocket to point to the local container's URL (e.g `ws://127.0.0.1:8765`) to be able to use it.

[2020-10-10 10:10] #242 closed

[2020-10-10 10:21] OlegRa commented on #239
@ooples I've found another option for adding reconnection without changing existing code so this change is backward-compatible, fully optional, and can be easily tested by you. You have to add another package named `Alpaca.Markets.Extensions` (latest preview version 3.9.0-rc2) into your project and call the `WithReconnect` extension method on a newly created instance of the `IAlpacaDataStreamingCl

[2020-10-10 10:27] OlegRa commented on #243
@shlomikushchi I've added the discussed support for the overriding streaming URLs in any environment using the fluent interface call. The URL argument of the `WithProxyForAlpacaDataStreamingClient` and `WithProxyForPolygonStreamingClient` is optional and if it missed system tries to read it from the environment variable and if it missed it will use the default value `ws://127.0.0.1:8765` as a last

[2020-10-10 14:59] ooples commented on #239
I won't be able to test it until Monday but I had a couple of questions/observations. Can you merge the two extensions classes together for both clients? It would definitely help clean up the code with the ambiguous calls for sure. Also what are the default values for the reconnection parameters?

[2020-10-10 15:07] shlomikushchi commented on #243
great thanks, looks good!
I will let you know if I need anything else.

[2020-10-10 19:28] rudeGit opened #244 "Why did I get a signature is invalid (Code = 40110000) error?"
Around US easter standard time, 2020-10-09 03:49:30 PM (Friday):

1. My app was running for a week or so at this point with live trading.
2. My app just placed a sell order to liquidate my position (for a symbol, say, A) successfully.
3. In next 50 milliseconds, my app has checked the status of this just placed order and confirmed that it was successfully executed by the server.
4. It then waited

[2020-10-11 17:06] OlegRa commented on #244
@rudeGit This error is server-side and unfortunately SDK unable to do anything useful with it. Shortly speaking - are you able to call any methods of `AlpacaDataClient` class using this OAuth token before this problem occurred?

- If you unable to use your token for this endpoint but it works for the `AlpacaTradingClient` on - it's a token problem. In this case, I suggest you check the token reque

[2020-10-11 17:07] OlegRa commented on #243
@shlomikushchi So I can close this issue now?

[2020-10-11 17:11] OlegRa commented on #239
The default values for the reconnection logic are 5 attempts with 1 to 5 seconds random delay between attempts.
I'm unable to merge both implementations into the single one because `IAlpacaDataStreamingClient` and `IPolygonStreamingClient` interfaces are different and I have to implement different wrappers. But after implementing issue #137 (now planned for the 4.0 release scope) it would be possi

[2020-10-11 17:58] shlomikushchi commented on #243
yes

[2020-10-11 17:58] #243 closed

[2020-10-11 18:20] ooples commented on #239
Thank you for that info. I'm actually talking about the AlpacaDataStreamingClient in particular since that is the only one I have tried so far. You have the AlpacaDataStreamingClientExtension class existing in both the Alpaca.Markets and the Alpaca.Markets.Extensions when I feel like that should only exist in the Alpaca.Markets.Extensions for obvious reasons. Hope you understand what I'm trying to

[2020-10-11 18:42] OlegRa commented on #239
OK, maybe you're right it's not a problem to more old one (related to subscriptions) into the extensions library because it exists only in pre-release versions and it's OK to break compatibility in this case. I'll check and if it is possible (no other dependencies) I'll do it in version 3.9.0-rc3 and I hope it would be the last big change before the final version of 3.9 and switching to the big 4.

[2020-10-11 20:36] rudeGit commented on #244
I re-generated one more oAuth2 access token and checked if it has data scope or not. It does. Tried calling the same endpoint again with this new token. It still erred with same message. Only AlpacaDataClient calls are failing and AlpacaTradingClient calls are working fine.

I sent an email to support@alpaca.markets with all the details and the forum question link. Hopefully they will tell me what

[2020-10-12 17:20] rudeGit commented on #244
@OlegRa I found something interesting, possibly a bug.

With 2 clients (AlpacaDataClient and AlpacaTradingClient), I was using 2 different HttpClient instances, 1 for each client. Each client uses a separate security key setting.

My code first set the valid oAuth access token for the trading client and then set the token with key id and key secret for the data client. But the first call I made is

[2020-10-12 22:06] OlegRa commented on #244
@rudeGit I'm unable to reproduce your issue. There is my code snippet (just a simple unit test):

[code]

So authorization headers configured properly for both clients and because this configuration is done in the constructor all subsequent calls should use the same headers.

Could you please share a simple test code that reproduces the problem on your side? It would be very helpful for investigat

[2020-10-13 00:16] rudeGit commented on #244
@OlegRa Sorry, for wasting your time on this one. I have accidentally switched GetPosition call with GetLastTrade call in my code snippet below. It was my fault. There is no bug. I was messing around on how to make this code work. Looks like using the key id and key secret works for data client.

But I found some another anomaly with the server response. Interestingly, the API server throws non-js

[2020-10-13 21:17] OlegRa commented on #244
Again, it's a server-side behavior and I'm unable to do anything useful with this issue on the SDK side. In the ideal world, all endpoints should provide errors in JSON format but look like Alpaca decided to move some authorization checks into NGNIX proxy and reduce real servers workload. Of course, they can customize HTTP 403 response for API endpoints on NGNIX instead of just using the default H

[2020-10-14 15:36] ooples opened #247 "insufficient qty available for order"
I'm receiving these constant messages even though I shouldn't because all I'm doing with my code is submitting a limit sell order after my buy order is filled. I must be missing a step in the ordering process I guess. I have sent you my code to verify on your end

[2020-10-15 15:43] ooples opened #248 "System.Exception: 'The socket is connected, you needn't connect again!'"
I'm getting this exception with running the new extensions reconnect method and so far from what I can tell it seems to happen almost everytime the reconnect method is running. I have sent you an email with more info and the code to run

I'm receiving an error saying unknown server protocol version after the socket disconnects then the reconnect method tries to do its thing and then I receive this

[2020-10-15 21:07] rudeGit commented on #244
I followed your suggestion. Today, Alpaca finally resolved my issue on their server side.

[2020-10-15 21:07] #244 closed

[2020-10-16 01:28] willsheydo commented on #239
Thanks @OlegRa ,

Can you please add the Auto-reconnection logic for all the websocket connections?
I'm having disconnecting issues with the AlpacaStreamingClient too.

Thanks in advance!

[2020-10-19 00:41] zhorakiev opened #249 "OrderType.TrailingStop - TrailOffsetInPercent - Error, String value missing, but not specified what string value"
I am getting string value missing on the trailing stop order below, but it does not specify what exactly is missing. There not a single example of TrailingStop order.

order = await alpacaTradingClient.PostOrderAsync(new NewOrderRequest(jsignal.SYMBOL, long.Parse(jsignal.NUMBEROFSHARES), OrderSide.Buy, OrderType.TrailingStop, TimeInForce.Day)
 {
      TrailOffsetInPercent = decimal.Parse(Configura

[2020-10-19 09:52] OlegRa commented on #249
@zhorakiev Could you please provide the exact exception information (message and stack) - it's hard to investigate such a problem using only the generic description.

[2020-10-19 09:53] OlegRa opened #250 "Implement auto-reconnection for AlpacaStreamingClient class"
Thanks @OlegRa ,

Can you please add the Auto-reconnection logic for all the websocket connections?
I'm having disconnecting issues with the AlpacaStreamingClient too.

Thanks in advance!

_Originally posted by @willsheydo in https://github.com/alpacahq/alpaca-trade-api-csharp/issue_comments/709675206_

[2020-10-19 09:55] OlegRa commented on #250
@willsheydo I cannot promise you that I'll do it in version 3.9 but I'll try. The current implementation has some known issues and as soon as I'll solve them I'll implement a similar wrapper for the `AlpacaStreamingClient` too.

[2020-10-19 13:31] OlegRa commented on #247
I've checked your code and still don't understand why do you use such a complicated approach for order placement. AFAIU you want to emulate the [OTO](https://alpaca.markets/docs/trading-on-alpaca/orders/#oto-orders) orders on the client-side. Why not just place a market order with OTO type and a take-profit leg?

[2020-10-19 13:48] OlegRa commented on #248
I've found an issue in the existing reconnection logic. In fact, it will try to reconnect even if the first reconnection attempt will be successful. I'll commit fix and publish an updated version of packages later after more testing on my side.

[2020-10-19 15:51] ooples commented on #247
Do you have a link to examples for the OTO with the take profit stuff? I
couldn't find anything in the documentation

On Mon, Oct 19, 2020 at 9:32 AM Oleg Rakhmatulin <notifications@github.com>
wrote:

[2020-10-20 14:54] jeffwlandry commented on #239
Over the last two weeks, my experience is that the polygon.io streaming socket closes without meaningful reason more and more often.  Yesterday (Oct 19,2020) this occurred 3 times between 1330 and 1550 (US Eastern).  Friday (Oct 16) this occurred 6 times between 1037 and 1243.  Probably more often for the whole day, but I have gaps in my run time as I work on the program.

Fortunately, I have been

[2020-10-20 14:56] jeffwlandry commented on #247
I don't know about ooples, but I don't use OTO because I can't issue a replace against the order to update it as things change.

[2020-10-20 19:22] ooples opened #251 "Feature Request: Allow ListOrdersRequest to be able to list only buy or sell orders"
I would like to add an additional filter option to ListOrdersRequest to be able to filter by OrderSide such as looking for buy open orders only. I might be wrong of course but I'm not seeing an option to be able to do that

[2020-10-20 19:31] ooples opened #252 "ListOrdersRequest only returns buy orders when RollUpNestedOrders is true"
I have a strange bug that I noticed when messing with ListOrdersRequest. If you turn on RollUpNestedOrders then it does what it says it is supposed to do and give you the leg information but it also only returns buy orders and when you turn it off it shows both buy and sell orders.

[code]

I have sent you the code I'm using to run this

[2020-10-20 19:38] ooples commented on #247
@jeffwlandry What do you do in your situation if something changes?

@OlegRa I changed my strategy and emailed you the code but I'm still getting the same error even though I can confirm that there are no open orders and that the underlying position is filled

[2020-10-20 20:04] jeffwlandry commented on #247
@ooples Not having looked at your code I don't know that I have experience exactly the same situation.  I was getting this message, but it was entirely my own fault.  I had some timing issues which resulted in my submitting requests which ratcheted up the number of shares.    Basically I was getting out of sync locally thinking my position was one thing, while Alpaca knew my position was different

[2020-10-20 20:19] ooples commented on #247
I would love to take a look at your code and how you handle everything is
that is possible

On Tue, Oct 20, 2020, 4:05 PM jeffwlandry <notifications@github.com> wrote:

[2020-10-20 20:35] jeffwlandry commented on #247
too be honest, the code is extremely messy.  I started out with one set of expectations and have been evolving it for quite a while.  It's burdened by a design which might allow another api to be spliced into it.  It's supposed to allow me to drop in different decision making logic as well.

We should move this discussion out of the issues area.  I'll think about if there is anything I can do to m

[2020-10-21 22:29] OlegRa commented on #247
@ooples @jeffwlandry This discussion is very interesting and useful but it doesn't relate to SDK itself.

This error string returned by Alpaca servers and if your program believes that at this particular moment you able to place an order and the server thinks differently - the server will win. We are unable to do anything at the SDK level to prevent such errors.

If you have some ideas on how to p

[2020-10-21 22:44] OlegRa commented on #239
@jerwheaton You are right - stability of the WebSocket connection (and any long-running TCP connection) heavily depends on the network conditions of your internet connection. I'm not sure that a VPN connection will solve ALL the problems - in any case, it will not change routing from your PC to Alpaca. But the idea with cloud looks much better for me - if you will connect to Alpaca API from the sa

[2020-10-21 22:59] OlegRa commented on #252
@ooples To be honest, I'm not sure it's an SDK problem but I'll check it tomorrow. Just to be sure that I understand the problem correctly I will write it more formally:

- **Initial state:** we have an account without any working (open) orders.
- **Action:** place one buy limit order for symbol `AAPL` for instance and one sell limit order for symbol `MSFT` for example and both orders not executed

[2020-10-21 23:10] OlegRa commented on #251
@ooples There are no such options in the REST API so I'm unable to implement it without client-side processing of results. But I dislike this approach for the next reasons:

- We have to get all orders from the server for such filtering and I don't see any difference between applying the LINQ `Where` method to the returned value on the client-side or in SDK itself.
- I'm unable to implement this f

[2020-10-21 23:10] #251 closed

[2020-10-22 14:31] ooples commented on #252
No you are correct

[2020-10-22 14:33] ooples commented on #247
Are you even running the reproducible code I sent you? In my program I'm deleting all pending orders and only selling positions I have in my portfolio already.

[2020-10-22 15:19] jeffwlandry commented on #239
Thank you, I’ll look into that.  It’s polygon that I have the most connection trouble with.  Do you know if they are hosted by a particular provider?

Jeff

[2020-10-26 11:15] OlegRa commented on #239
@jeffwlandry I'm not sure but according to IP/DNS trace/lookup info, they use their own data center in the US.

[2020-10-26 11:30] OlegRa commented on #247
@ooples According to your last email, this problem was solved by canceling all outstanding orders on the algorithm start, right? So it's not related to SDK and I'll close it right now. You can re-open it if you have any ideas on how we can prevent such a problem at the SDK level without introducing client-side state management.

[2020-10-26 11:30] #247 closed

[2020-10-26 11:32] OlegRa commented on #239
I would close it right now in the scope of 3.9.0 release preparation. The separate issue related to this logic #248 will be fixed in the final 3.9.0 release.

[2020-10-26 11:32] #239 closed

[2020-10-26 12:19] OlegRa commented on #252
@ooples I'm unable to reproduce it on the paper environment using this simple test code (assume that I have 2 orders in the `New` state):

[code]

All three call s returns the same collection with 2 open orders (1 buy and 1 sell) as expected. If you can prepare a simple xUnit test that replicates this problem on your side - provide it here and re-open the issue.

[2020-10-26 12:19] #252 closed

[2020-10-26 14:15] OlegRa opened #254 "Reorganize build process"
There are some known issues related to the current build process:

- [x] Documentation build on each commit takes time but has no sense - it's better to build it as a separate task initiated by some event.
- [x] Extensions version management issue - we unable to build the main package without updated extensions and vice versa, moreover we unable to build the extension package that points to the sa

[2020-10-26 14:59] OlegRa commented on #250
@willsheydo You can test the proposed extension in version [3.9.0](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.9.0) available on NuGet.

[2020-10-26 15:00] OlegRa commented on #248
@ooples  You can test the fix in version [3.9.0](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.9.0) available on NuGet.

[2020-10-26 15:36] ooples commented on #247
No that is incorrect. I provided a fix to the problem by forcing the thread to wait after cancelling open orders before placing a sell order

[2020-10-26 15:41] ooples commented on #252
The bug is caused by the fact that the open buy orders are nested orders and the open sell orders aren't. When you use RollUpNestedOrders = true it seems to me that it is only showing nested orders instead of what it is supposed to do and combine the nested order information inside the multi leg variables.

[2020-10-26 15:42] ooples commented on #248
I'm not seeing issues today but I will reopen if I see any bugs related to this

[2020-10-26 15:42] #248 closed

[2020-10-28 11:30] citestaccount opened #255 "Does this have support for Bracket orders?"
I was looking through the SDK , but I did not see option to put in a bracket order, is that possible?
https://alpaca.markets/blog/bracket-orders/

[2020-10-28 14:41] ooples commented on #255
Yes this supports bracket orders and you can see some great examples at https://alpaca.markets/docs/api-documentation/how-to/orders/

[2020-10-28 15:50] OlegRa commented on #255
Thanks, @ooples for the prompt answer! @citestaccount You can always check [Wiki](https://github.com/alpacahq/alpaca-trade-api-csharp/wiki/Order-Placement#examples-1) for more order placement examples.

[2020-10-28 15:51] #255 closed

[2020-10-28 19:43] citestaccount commented on #255
Thanks for the prompt response. This is my first day trying to learn this nuget to use Alpaca

[2020-10-28 20:42] jeffwlandry commented on #247
@ooples I just ran into this in a similar (but possibly not identical) situation.  I issued a limit order and tried to modify it.  I received "insufficient qty available for order".  it also told me that only x shares were available.  In pursuing this I found the order I was trying to modify was in status of "accepted".  Apparently i received this error because I tried to modify the outstanding or

[2020-11-01 04:25] citestaccount opened #257 "Polygoin.io DataClient"
I noticed that PolygonDataClient.cs file does not have support for all the available endpoints such as
Snapshot - Single Ticker
Ticker News
and few others, is there a plan to add support for these endpoints for polygoin.io?

[2020-11-02 10:29] OlegRa commented on #257
@citestaccount The Polygon.io connector included in this package mostly for historical reasons. Initially, Alpaca didn't provide any streaming/historical data and just partner with Polygon.io for providing it.
I have ideas about splitting the Alpaca and Polygon.io classes into separate assemblies and NuGet packages but right now I have more urgent tasks and have no ETA for this split. Or maybe I'l

[2020-11-02 10:29] #257 closed

[2020-11-03 12:50] lgreenlee opened #258 "Take Profit Issue"
Hello,

TakeProfitOrder tpo = LimitOrder.Buy("123", 1, 100M).TakeProfit(101);

Yields an incomplete json request body which is rejected by the server because the original limit price of 100M is not specified. The original limit price of the first trade (100M) is null when viewed in the Debugger. Debugger output:

  | Name | Value | Type
-- | -- | -- | --
  | ClientOrderId | null | string
  | Exten

[2020-11-03 15:54] citestaccount opened #259 "Bracket Order BUY with Limit type instead of Market"
When trying to buy using Bracket order , instead of doing Market order on BUY trying to do Limit, order type I get an error. is that excepted?
I have verified that orderDto.BuyPrice has value and if I change  LimitOrder.Buy to MarketOrder.Buy it works

[code]
[code]

[2020-11-03 17:08] citestaccount commented on #259
when doing via postman this order is valid

[code]

[2020-11-04 03:01] OlegRa commented on #259
This one is a duplicate for issue #258 but I will not close it because it would be better to test it separately.

[2020-11-04 03:56] OlegRa commented on #259
@citestaccount You can test the fix in the version [3.9.1](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.9.1) already available on the NuGet.

[2020-11-04 03:58] OlegRa commented on #258
@lgreenlee You can test the fix in the version [3.9.1](https://github.com/alpacahq/alpaca-trade-api-csharp/releases/tag/v3.9.1) already available on the NuGet.

[2020-11-04 04:55] citestaccount commented on #259
Thanks for the quick fix, will test it tomorrow and let you know @OlegRa

[2020-11-04 14:41] citestaccount commented on #259
this works Thanks!!

[2020-11-04 14:41] #259 closed

[2020-11-09 18:02] #250 closed

[2020-11-09 18:04] OlegRa commented on #249
@zhorakiev I'll close this issue due to inactivity. If you still experience the problem using the latest version of SDK - provide the requested information and reopen the issue.

[2020-11-09 18:04] #249 closed

[2020-11-09 21:29] citestaccount opened #260 "Setting Time Range for Orders List"
How can we change the time range when getting the order List?

[code]

Looking to set the `after` and `until` values based on the API documentation.

[code]

[2020-11-09 22:43] citestaccount commented on #260
This is something i have tried that did not work
[code]

[2020-11-10 12:48] OlegRa commented on #260
@citestaccount You do it right but unfortunately, Alpaca REST API requires the `status` parameter for time-filtered requests. I don't know is it a bug or feature but if you will use this code snippet (I use my dates interval just for reference) the server returns an empty list:

[code]

but if you will specify the `OrderStatusFilter` value explicitly result set will be not empty:

[code]

So recom

[2020-11-11 19:38] lgreenlee commented on #258
Thanks - that fixed it, it is working now!

[2020-11-11 19:46] lgreenlee opened #262 "Throttling"
Hi,

The client seems to throttle requests, which may be by design, however this isn't a soft failure. It needs to be a hard failure that the application then needs to resolve.

I have had many trades which have taken minutes to be transmitted from the API. You can see the progression here:

Later requests
"00:07:16.651177"
"00:07:16.865176"
"00:07:14.391106"
"00:07:09.074717"
"00:07:04.018112"
"0

[2020-11-12 14:19] #258 closed

[2020-11-12 14:49] OlegRa commented on #262
@lgreenlee Rate limit is part of Alpaca REST API and SDK should handle it somehow. Retry logic with random delay is useful for most users but I understand that sometimes it's better to fail fast. You already have an ability to control the throttling behavior.

It can be done by changing the `ThrottleParameters` property of the `AlpacaTradingClientConfiguration` class. For example, if you want to f

[2020-11-12 17:00] tieje opened #264 "READ_ME.md code snippet needs to be updated."
I'm learning C# through a stock-trading pet project. The code snippet does not work as intended. Several parts are deprecated. It took me an hour, but I got it working. Feel free to copy and paste this code as the new template code snippet for getting started:

[code]

[2020-11-13 19:04] OlegRa commented on #264
Thanks a lot, @tieje It's always hard to maintain code snippets that are you unable to compile. I've updated the instructions and now this sample code should compile without any issues.

In the future, you can just propose your changes in form of a pull request.

[2020-11-13 19:04] #264 closed

[2020-11-25 06:43] rudeGit opened #266 "How to recover from System.Net.Sockets.SocketException (10060)?"
I am using nuget package version 3.9.0-rc3 and in live enviornment.

My program has been running for a week without any issues. Then I suddenly got the following exception:

_System.Net.Http.HttpRequestException: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond.
 --

[2020-11-26 05:34] rudeGit commented on #266
This turned out to be rather simple. I just needed to create another polly retry policy for inner SocketException and check for the error code 10060. Then execute this policy, whose execution body used the previous policy's execution that handles multiple http responses.

[2020-12-18 09:10] OlegRa commented on #266
@rudeGit Is it possible to extract your code for handling throttling using the Poly library from your project into the independent 'package' and share it with other users of this SDK? Most users are OK with the current throttling implementation and straightforward #237 implementation can break the backward compatibility for them.

I'm thinking about integrating your approach into the `Alpaca.Marke

[2020-12-18 09:12] OlegRa commented on #262
@lgreenlee I close it due to a long inactivity period. If you still experiencing the problem - just re-open the issue and provide more information.

[2020-12-18 09:12] #262 closed

[2020-12-18 09:13] OlegRa commented on #260
@citestaccount  I close it due to a long inactivity period. If you still experiencing the problem - just re-open the issue and provide more information.

[2020-12-18 09:13] #260 closed

[2020-12-18 09:37] OlegRa opened #267 "Add support for cancelling orders on all positions close"
The Alpaca REST API provides a way for canceling all open orders as part of the single 'close all open positions' transaction. We should add this option support into the SDK too. This also should be backported into the 3.9.x release because this change will be backward compatible.

[2020-12-18 09:39] OlegRa opened #268 "Add support for filtering by symbols for order list request"
The Alpaca REST API provides a way for specifying the list of symbols for filtering during the list orders request. We should add this option support into the SDK too. This also should be backported into the 3.9.x release because this change will be backward compatible.

[2020-12-22 21:09] ayushguptacoder opened #270 "Duration could not be set as GTC. It switches to Day"
Code being called:
[code]

Actual request body going out ( found via fiddler)
`{"symbol":"PLTR","qty":178,"side":"buy","type":"limit","time_in_force":"day","limit_price":28.0,"order_class":"bracket","take_profit":{"limit_price":29.0},"stop_loss":{"stop_price":27.0}}`

[2020-12-23 01:26] ayushguptacoder commented on #270
I had to move the WithDuration to the base order and not the bracket order.

[2020-12-23 08:14] ooples opened #271 "Change Polygon Streaming Client Subscription Process to Match Alpaca Data Streaming Client"
This is how you subscribe to all active assets using the Alpaca Data Streaming Client and I want to be able to have the same exact method for the Polygon Streaming Client as well.

[code]

[2020-12-26 13:06] OlegRa commented on #270
@ayushguptacoder Yes, it's a side effect of the last changes in the 3.9.1 and later related to another order sending problems. It's good that you've found the workaround and it works for you. I'll try to find another solution that provides a way for specifying the order properties even for the compound orders themselves not only for the base orders.

[2020-12-26 13:26] OlegRa commented on #271
@ooples This issue description duplicates issue #137 and I'll close this one as a duplicate. If you want to track progress with this change - subscribe to the original issue updates.

Unfortunately, it's not easy to change the current subscription approach without significant change in internal class implementation and it most probably will be a breaking change so I've decided to move all signific

[2020-12-26 13:26] #271 closed

[2020-12-26 19:47] OlegRa commented on #270
@ayushguptacoder Both approaches should work the same in version [3.9.3](../releases/tag/v3.9.3) and later.

[2020-12-26 19:48] #268 closed

[2020-12-26 19:48] #267 closed

[2020-12-27 15:39] #254 closed

[2021-01-02 21:29] kwcoffee1 opened #272 "Can you update AggregatesRequest to handle the following code request?"
[code]

[code]

[2021-01-03 16:07] OlegRa commented on #272
@kwcoffee1 You can test requested changes in the release [4.0.1](../releases/tag/sdk-4.0.1) available on NuGet.

[2021-01-07 06:29] rudeGit commented on #266
@OlegRa Sorry. Just saw your comment. Here is my code. Please modify and use it as you wish. I wrote it as a simple handler.

`
public class MyAlpacaClientHandlerWithPolly : HttpClientHandler
    {
        const int MaxAttempts = 5;
        TimeSpan StartWaitTime = TimeSpan.FromSeconds(1);
        AsyncRetryPolicy<HttpResponseMessage> _retryResponsePolicy = null;

        const int ConnectionMaxAt

[2021-01-08 22:05] ooples opened #273 "Allow alpaca streams to be disconnected manually"
If you want to disable the alpaca streams manually and you have the WithReconnect setup, then you have no easy way to disconnect the alpaca streams because they will keep attempting reconnects.

[2021-01-09 12:11] OlegRa commented on #273
@ooples Could you please provide more information about this problem. I've checked the code and all looks fine for me - if you call the `Dispose` or `DisconnectAsync` method reconnection process should stop. Some incoming messages can arrive after this call due to the asynchronous message processing approach but in general after these calls no more reconnections should happen. If you can create a

[2021-01-09 12:20] OlegRa commented on #266
Thanks a lot, @rudeGit, it's really helpful. Now I can think about how I can provide both approaches for SDK users in the scope of issue #237.

[2021-01-09 12:29] OlegRa commented on #270
@ayushguptacoder I close it due to 2 weeks of inactivity. If you still experiencing this issue, feel free to re-open the issue and provide more information.

[2021-01-09 12:29] #270 closed

[2021-01-14 19:29] ooples opened #274 "SocketException: The requested name is valid, but no data of the requested type was found"
I'm getting this error message about once every 3 days running the API but not enough where I can confidently reproduce it. Is this a known issue and/or is there a fix for it?

[2021-01-14 21:20] ooples commented on #273
I sent you an email with working code

[2021-01-16 10:04] OlegRa commented on #274
@ooples It's not an SDK-specific problem and even more it's not a .NET -specific problem. The root cause of this issue is in native Win SOCK implementation.

Unfortunately, the currently used WebSocket client library [WebSocket4Net](https://github.com/kerryjiang/WebSocket4Net) doesn't handle this problem at all. You can try to report this problem in the related repo but I'm not sure it alive now -

[2021-01-16 11:12] OlegRa commented on #273
@ooples I've checked your code and I see the root cause of your problem (I hope). You use the `WithReconnect` extension method incorrectly - you should not just call it, but save a result of this call and use it instead of an original client interface instance. For example, instead of your code (simplified version):

[code]

You should write something like this:

[code]

Or even in more simple for

[2021-01-16 11:12] #273 closed

[2021-01-20 20:16] ooples commented on #123
I need to reopen this because I'm continuing to get this exception even after all of the changes. It seems to happen about as often as the other #274 issue so my best guess is that they are related.

Here is my exception info for this:

Exception Time:
19/01/2021 7:51:10 PM

Exception Type:
System.Net.Http.HttpRequestException

Exception Message:
An error occurred while sending the request.

Excep

[2021-01-21 16:09] Ricbun16 opened #275 "IAlpacaStreamingClient Exception thrown"
Hi Guys,

Just want to give a headsup about a exception that was invoked by IAlpacaStreamingClient.OnError. This happend when I received a ITradingUpdate about a StopLossOrder I had on.

Here is the received Exception:

[code]

[2021-01-22 04:34] rudeGit opened #276 "Is there a way to find if a stock is split on a given day in real time?"
Lets say I had 10 shares of TQQQ prior to today (i.e. before this stock is split). Today the stock is split 1:2, which means my number of shares went up from 10 to 20 with half the price of original. But this information is not available to me in the Alpaca brokerage account until the next day.

My question, is there any method in the SDK that would tell me in real time that a given stock (such as

[2021-01-23 10:56] OlegRa commented on #272
@kwcoffee1 I close it due to a long inactivity period. If you still experiencing this problem in the latest SDK versions, feel free to re-open this issue.

[2021-01-23 10:57] #272 closed

[2021-01-23 11:01] OlegRa commented on #123
@ooples I'm not sure why do you want to re-open this one. The `Disconnected` event works as expected and has no relation with this particular DNS resolving the problem. See my comments for issue #274 - this is a low-level operating system error and SDK unable to do anything useful with it.